# Data Cleaning

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

import os

files = os.listdir("data")
for file in files:
    print(file)

Product Reports 01 January 2023 - 31 December 2023.csv
Product Reports 01 January 2024 - 29 February 2024.csv
Product Reports 01 January 2021 - 31 December 2021.csv
Product Reports 01 January 2022 - 31 December 2022.csv

Data Loading

In [2]:
import re
from datetime import datetime


dfs = []
for file in files:
    # match = re.search(r'\d{2} (.*?) \d{4}', file)
    year = re.search(r'\d{4}', file).group()
    # date = datetime.strptime(match.group(), r"%d %M %Y").date()
    # print(match.group())
    df = pd.read_csv(f"data/{file}")
    df["year"] = int(year)
    dfs.append(df)

df = pd.concat(dfs)

In [3]:
df.head()

,Menu Item Name,Menu Category,QTY sold,Sales exc Tax.,Discounts,Sales inc Tax.(a),Cost inc Tax(b),Gross Profit(a)-(b),Markup Percentage %(a-b)/b * 100%,year
0,box(-),NaN,1550,£ 5889.10,£ 24.26,£ 5889.10,£ 0.00,£ 5889.10,0 %,2023
1,75. Rib Eye(Standard),BBQ (Korean) 75 - 84,598,£ 8491.85,£ 55.76,£ 8916.44,£ 0.00,£ 8916.44,0 %,2023
2,65D. Egg(Standard),Extras,2,£ 0.95,£ 0.00,£ 1.00,£ 0.00,£ 1.00,0 %,2023
3,76. Dwaeji galbi ribs(default),BBQ (Korean) 75 - 84,220,£ 2499.38,£ 10.65,£ 2624.35,£ 0.00,£ 2624.35,0 %,2023
4,77. beef Bulgogi(Standard),BBQ (Korean) 75 - 84,867,£ 9773.04,£ 121.61,£ 10261.69,£ 0.00,£ 10261.69,0 %,2023

In [4]:
df.shape

(1400, 10)

Renaming columns for ease of manipulation

In [5]:
df.columns

Index(['Menu Item Name', 'Menu Category', 'QTY sold', 'Sales exc Tax.',
       'Discounts', 'Sales inc Tax.(a)', 'Cost inc Tax(b)',
       'Gross Profit(a)-(b)', 'Markup Percentage %(a-b)/b * 100%', 'year'],
      dtype='object')

In [6]:
df.columns = ["name", "category", "sold", "sales_inc_tax", "discount", "sales_exc_tax", "cost_inc_tax", "gross_profit", "markup", "year"]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1400 entries, 0 to 349
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           1400 non-null   object
 1   category       1392 non-null   object
 2   sold           1400 non-null   int64
 3   sales_inc_tax  1400 non-null   object
 4   discount       1400 non-null   object
 5   sales_exc_tax  1400 non-null   object
 6   cost_inc_tax   1400 non-null   object
 7   gross_profit   1400 non-null   object
 8   markup         1400 non-null   object
 9   year           1400 non-null   int64
dtypes: int64(2), object(8)
memory usage: 120.3+ KB

Columns that are supposed to be `float` are being parsed as `object`. This is due to the values having:
- the currency sign (which in this case is `£`)
- the percentage sign `%`

In [8]:
currency_columns = ["sales_inc_tax", "discount", "sales_exc_tax", "cost_inc_tax", "gross_profit"]
percentage_columns = ["markup"]

for col in currency_columns:
    df[col] = df[col].str.replace("£", "").str.strip().astype(float)

for col in percentage_columns:
    df[col] = df[col].str.replace("%", "").str.strip().astype(float)

df.head()

,name,category,sold,sales_inc_tax,discount,sales_exc_tax,cost_inc_tax,gross_profit,markup,year
0,box(-),NaN,1550,5889.10,24.26,5889.10,0.0,5889.10,0.0,2023
1,75. Rib Eye(Standard),BBQ (Korean) 75 - 84,598,8491.85,55.76,8916.44,0.0,8916.44,0.0,2023
2,65D. Egg(Standard),Extras,2,0.95,0.00,1.00,0.0,1.00,0.0,2023
3,76. Dwaeji galbi ribs(default),BBQ (Korean) 75 - 84,220,2499.38,10.65,2624.35,0.0,2624.35,0.0,2023
4,77. beef Bulgogi(Standard),BBQ (Korean) 75 - 84,867,9773.04,121.61,10261.69,0.0,10261.69,0.0,2023

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1400 entries, 0 to 349
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           1400 non-null   object
 1   category       1392 non-null   object
 2   sold           1400 non-null   int64
 3   sales_inc_tax  1400 non-null   float64
 4   discount       1400 non-null   float64
 5   sales_exc_tax  1400 non-null   float64
 6   cost_inc_tax   1400 non-null   float64
 7   gross_profit   1400 non-null   float64
 8   markup         1400 non-null   float64
 9   year           1400 non-null   int64
dtypes: float64(6), int64(2), object(2)
memory usage: 120.3+ KB

As seen above the column types are fixed.

In [10]:
df.describe()

,sold,sales_inc_tax,discount,sales_exc_tax,cost_inc_tax,gross_profit,markup,year
count,1400.000000,1400.000000,1400.000000,1400.000000,1400.0,1400.000000,1400.0,1400.000000
mean,417.558571,2805.504229,37.775300,2935.522671,0.0,2935.522671,0.0,2022.490000
std,4374.167324,29254.448751,409.809853,30607.512298,0.0,30607.512298,0.0,1.083986
min,1.000000,0.000000,-50.000000,0.000000,0.0,0.000000,0.0,2021.000000
25%,21.750000,98.930000,0.000000,103.500000,0.0,103.500000,0.0,2022.000000
50%,80.000000,489.670000,3.370000,513.150000,0.0,513.150000,0.0,2023.000000
75%,236.250000,1572.787500,20.635000,1647.405000,0.0,1647.405000,0.0,2023.000000
max,105672.000000,698744.260000,11407.760000,730360.670000,0.0,730360.670000,0.0,2024.000000

## Empty and duplicate data
Checking for empty values and duplicates

In [11]:
df.duplicated().sum()

0

In [12]:
df.isna().sum()

name             0
category         8
sold             0
sales_inc_tax    0
discount         0
sales_exc_tax    0
cost_inc_tax     0
gross_profit     0
markup           0
year             0
dtype: int64

In [13]:
df[df.category.isna()]

,name,category,sold,sales_inc_tax,discount,sales_exc_tax,cost_inc_tax,gross_profit,markup,year
0,box(-),NaN,1550,5889.10,24.26,5889.10,0.0,5889.10,0.0,2023
402,Total Sales,NaN,100916,693532.78,6095.22,726228.89,0.0,726228.89,0.0,2023
0,cocumber kimchi(-),NaN,196,1629.97,5.71,1629.97,0.0,1629.97,0.0,2024
309,Total Sales,NaN,13778,106910.06,841.21,111991.12,0.0,111991.12,0.0,2024
0,additional charge for sashimi(-),NaN,38,169.93,4.27,169.93,0.0,169.93,0.0,2021
336,Total Sales,NaN,71925,464665.86,11407.76,486285.19,0.0,486285.19,0.0,2021
0,soju(-),NaN,1188,6026.77,60.47,6026.77,0.0,6026.77,0.0,2022
349,Total Sales,NaN,105672,698744.26,8098.52,730360.67,0.0,730360.67,0.0,2022

As seen above, there are some legitimate products with no category. The other ones are `Total Sales` just noise.

I will remove these as they are not needed.

In [14]:
df = df[~(df.name == "Total Sales")]

In [15]:
df.isna().sum()

name             0
category         4
sold             0
sales_inc_tax    0
discount         0
sales_exc_tax    0
cost_inc_tax     0
gross_profit     0
markup           0
year             0
dtype: int64

The remaining products with no category are custom sales that are not at the menu at the time.
Thus I will replace it with `custom` category.

In [16]:
df  = df.fillna("custom")
df.head()

,name,category,sold,sales_inc_tax,discount,sales_exc_tax,cost_inc_tax,gross_profit,markup,year
0,box(-),custom,1550,5889.10,24.26,5889.10,0.0,5889.10,0.0,2023
1,75. Rib Eye(Standard),BBQ (Korean) 75 - 84,598,8491.85,55.76,8916.44,0.0,8916.44,0.0,2023
2,65D. Egg(Standard),Extras,2,0.95,0.00,1.00,0.0,1.00,0.0,2023
3,76. Dwaeji galbi ribs(default),BBQ (Korean) 75 - 84,220,2499.38,10.65,2624.35,0.0,2624.35,0.0,2023
4,77. beef Bulgogi(Standard),BBQ (Korean) 75 - 84,867,9773.04,121.61,10261.69,0.0,10261.69,0.0,2023

In [17]:
# df.groupby(["year", "name"]).nlargest(2, ["sold"])
df.groupby(['year', "name"]).apply(lambda x: x.nlargest(10, ['sold']))

                                                                               name  \
year name
2021 01 Sette Bello Prosecco(20CL)        19          01 Sette Bello Prosecco(20CL)
     01 Sette Bello Prosecco(Bottle)      20        01 Sette Bello Prosecco(Bottle)
     01. Spicy Squid(Standard)            229             01. Spicy Squid(Standard)
     02 Da Luca Rosato Spumante(Standard) 21   02 Da Luca Rosato Spumante(Standard)
     02. Prawn Tempura(Standard)          230           02. Prawn Tempura(Standard)
...                                                                             ...
2024 Veg Sushi Platter 20pc(-)            218             Veg Sushi Platter 20pc(-)
     Whiskey(Double)                      204                       Whiskey(Double)
     Whiskey(Single)                      139                       Whiskey(Single)
     Whisky Smash                         294                          Whisky Smash
     cocumber kimchi(-)                   0                      cocumber kimchi(-)

                                                        category  sold  \
year name
2021 01 Sette Bello Prosecco(20CL)        19           Champagne    43
     01 Sette Bello Prosecco(Bottle)      20           Champagne    73
     01. Spicy Squid(Standard)            229   Traditional 1-15   829
     02 Da Luca Rosato Spumante(Standard) 21           Champagne    23
     02. Prawn Tempura(Standard)          230   Traditional 1-15   939
...                                                          ...   ...
2024 Veg Sushi Platter 20pc(-)            218     Sushi Platters     5
     Whiskey(Double)                      204    Spirits & Shots     1
     Whiskey(Single)                      139    Spirits & Shots     3
     Whisky Smash                         294  Classic Cocktails    11
     cocumber kimchi(-)                   0               custom   196

                                               sales_inc_tax  discount  \
year name
2021 01 Sette Bello Prosecco(20CL)        19          202.07      2.83
     01 Sette Bello Prosecco(Bottle)      20         1524.22      5.57
     01. Spicy Squid(Standard)            229        5722.22    209.17
     02 Da Luca Rosato Spumante(Standard) 21          409.86      6.65
     02. Prawn Tempura(Standard)          230        6539.04    176.51
...                                                      ...       ...
2024 Veg Sushi Platter 20pc(-)            218         119.05      0.00
     Whiskey(Double)                      204           4.29      0.00
     Whiskey(Single)                      139           7.14      0.00
     Whisky Smash                         294          79.24      4.80
     cocumber kimchi(-)                   0          1629.97      5.71

                                               sales_exc_tax  cost_inc_tax  \
year name
2021 01 Sette Bello Prosecco(20CL)        19          212.17           0.0
     01 Sette Bello Prosecco(Bottle)      20         1600.43           0.0
     01. Spicy Squid(Standard)            229        6008.33           0.0
     02 Da Luca Rosato Spumante(Standard) 21          430.35           0.0
     02. Prawn Tempura(Standard)          230        6865.99           0.0
...                                                      ...           ...
2024 Veg Sushi Platter 20pc(-)            218         125.00           0.0
     Whiskey(Double)                      204           4.50           0.0
     Whiskey(Single)                      139           7.50           0.0
     Whisky Smash                         294          83.20           0.0
     cocumber kimchi(-)                   0          1629.97           0.0

                                               gross_profit  markup  year
year name
2021 01 Sette Bello Prosecco(20CL)        19         212.17     0.0  2021
     01 Sette Bello Prosecco(Bottle)      20        1600.43     0.0  2021
     01. Spicy Squid(Standard)            229       6008.33     0.0  2021
     02 Da Luca Rosato Spumante(Standard) 21         430.35     0.0  2021
     02. Prawn Tempura(Standard)          230       6865.99     0.0  2021
...                                                     ...     ...   ...
2024 Veg Sushi Platter 20pc(-)            218        125.00     0.0  2024
     Whiskey(Double)                      204          4.50     0.0  2024
     Whiskey(Single)                      139          7.50     0.0  2024
     Whisky Smash                         294         83.20     0.0  2024
     cocumber kimchi(-)                   0         1629.97     0.0  2024

[1396 rows x 10 columns]

In [18]:
# df.groupby(['year', "name"]).apply(lambda x: x.nlargest(10, ['sold'])).reset_index(drop=True)
df.nlargest(10, ["sold"])

,name,category,sold,sales_inc_tax,discount,sales_exc_tax,cost_inc_tax,gross_profit,markup,year
42,Asahi(Pint),Draught Beer,5026,24832.01,61.59,26073.61,0.0,26073.61,0.0,2022
42,Asahi(Pint),Draught Beer,4733,23397.70,44.01,24567.59,0.0,24567.59,0.0,2023
41,Asahi(Pint),Draught Beer,3954,19442.52,146.15,20414.65,0.0,20414.65,0.0,2021
151,Coke(Standard),Soft Drinks,3852,9912.78,18.98,10408.42,0.0,10408.42,0.0,2023
158,Coke(Standard),Soft Drinks,3494,8931.53,55.69,9378.11,0.0,9378.11,0.0,2022
152,Diet Coke(Standard),Soft Drinks,3327,8556.79,17.27,8984.63,0.0,8984.63,0.0,2023
159,Diet Coke(Standard),Soft Drinks,3304,8454.87,43.19,8877.61,0.0,8877.61,0.0,2022
301,Cocktail(-),Cocktails,3013,20119.23,971.77,20119.23,0.0,20119.23,0.0,2021
146,Chilli Fries(Standard),Sides,2537,8409.01,50.04,8829.46,0.0,8829.46,0.0,2023
307,Cocktail(-),Cocktails,2517,17540.88,78.12,17540.88,0.0,17540.88,0.0,2022

In [19]:
df.sort_values(["year", "sold"], ascending=False).groupby(["year", "name"]).head(2)

,name,category,sold,sales_inc_tax,discount,sales_exc_tax,cost_inc_tax,gross_profit,markup,year
34,Asahi(Pint),Draught Beer,676,3350.78,-3.12,3518.32,0.0,3518.32,0.0,2024
121,Coke(Standard),Soft Drinks,475,1221.17,0.27,1282.23,0.0,1282.23,0.0,2024
122,Diet Coke(Standard),Soft Drinks,422,1083.13,2.11,1137.29,0.0,1137.29,0.0,2024
28,25.Chicken Katsu Curry(Standard),Japan rice dis 25-32,387,5071.51,54.21,5325.09,0.0,5325.09,0.0,2024
116,Chilli Fries(Standard),Sides Extras,364,1207.12,6.52,1267.48,0.0,1267.48,0.0,2024
...,...,...,...,...,...,...,...,...,...,...
188,Hendricks(Single),Spirits,1,3.62,0.00,3.80,0.0,3.80,0.0,2021
201,Nigiri (3pc)(Tamago),Sushi,1,3.05,0.80,3.20,0.0,3.20,0.0,2021
277,Amaretto(Double),Spirits,1,3.96,0.74,4.16,0.0,4.16,0.0,2021
282,Brandy(Double),Spirits,1,5.52,0.00,5.80,0.0,5.80,0.0,2021
306,Nigiri (3pc)(Beef),Sushi,1,4.76,0.00,5.00,0.0,5.00,0.0,2021

## Data Standardisation
- name and categories must be lowercase
- some names are different but refer to same product: combine these
- some categories are different but refer to same category: combine these
- remove unnecessary noise from the names and categories e.g. product number

In [20]:
df.name = df.name.str.lower()
df.category = df.category.str.lower()

In [21]:
df.category.unique()

array(['custom', 'bbq (korean) 75 - 84', 'extras', 'bottled beer & cider',
       'buns 24-28', 'champagne', 'cocktails', 'dessert', 'donburi 29-39',
       'draught beer', 'korean nood 62-65', 'korean set menu',
       'korean sides 49-52', 'korean soft drinks', 'korean soju',
       'korean starter 53-61', 'noodles 47-48', 'platters 45-46',
       'red wine', 'rice dishes 70-74', 'robata grill 15-23', 'rose wine',
       'sides', 'soft drinks', 'restaurant specials', 'soup 66-69',
       'special mains 39-46', 'spirits', 'sushi', 'sushi platters',
       'sushi rolls (4pc)', 'tea / coffee', 'traditional 1-14',
       'white wine', 'new items', 'spirits & shots', 'vegan',
       'lunch bento', 'seared salmon nigiri', 'restaurant special',
       'sushi rolls 4pc/8pc', 'mocktails', 'asian cocktails',
       'classic cocktails', 'grill bbq 52-60', 'buns 33-38',
       'japan rice dis 25-32', 'korean dishes 41-51', 'sides extras',
       'korean side 14-24', 'ramen & noodle 39-40', 'bbq platters 59-60',
       'japanese side 1-13', 'buns 25-26', 'donburi 29-38',
       'korean nood 62-64', 'set menu', 'platters 27-28',
       'robata grill 16-24', 'starter break line', 'traditional 1-15'],
      dtype=object)

In [22]:
df.name.unique()

array(['box(-)', '75. rib eye(standard)', '65d. egg(standard)',
       '76. dwaeji galbi ribs(default)', '77. beef bulgogi(standard)',
       '78. pork bulgogi(default)', '79. chicken bulgogi(default)',
       '80. pork belly(standard)', '81. king prawns (5pc)(standard)',
       '82. ox tongue(standard)', '83. chargrilled squid(standard)',
       '84. lettuce, garlic & chilli(standard)', 'becks blue(standard)',
       'corona(standard)', 'kirin ichi ban(standard)',
       'koppaberg(standard)', 'tiger(standard)', 'tsing tao(standard)',
       '25. chicken teriyaki(standard)', '26. beef teriyaki(standard)',
       '01 sette bello prosecco(20cl)', '01 sette bello prosecco(bottle)',
       '02 da luca rosato spumante(standard)',
       '03 da luca prosecco(standard)',
       '04 taittinger brut reserve nv(standard)', 'asia daisy(standard)',
       'japanese slipper(standard)', 'korean yoghurt soju(standard)',
       'matcha mojito(standard)', 'plum sour(standard)',
       'cheesecake(standard)', 'dessert(standard)', 'ice cream(default)',
       '29. chicken katsu curry(standard)',
       '30. prawn katsu curry(standard)', '31. tonkatsu curry(standard)',
       '32. beef curry(standard)', '33. chicken teriyaki(standard)',
       '35. grilled unagi(default)',
       '36. salmon sashimi & tobiko(standard)',
       '37.katsudon pork(standard)', 'asahi(half)', 'asahi(pint)',
       'camden pale ale(half)', 'camden pale ale(pint)',
       'cornish orchard cider(half)', 'cornish orchard cider(pint)',
       'peroni(half)', 'peroni(pint)', 'stella(half)', 'stella(pint)',
       '62. ja jang myun(standard)', '63. kimchi ramen(standard)',
       'korean set menu(standard)', '49. kimchi set(standard)',
       '50. kimchi(standard)', '51. cucumber kimchi(standard)',
       '52. mooli kimchi(standard)', 'aloe vera(standard)',
       'hai tai bong bong grape juice(standard)',
       'jinro cham yi sul (fresh)(standard)',
       'jinro cham yi sul (green grapes)(standard)',
       '53. seafood pancake(standard)', '54. kimchi pancake(standard)',
       '55. bossam pork belly(standard)', '56. corn cheese(standard)',
       '57. topokki(standard)', '58. tofu kimchi(standard)',
       '59. mandu (5pc)(standard)', '60. dubu jorim(standard)',
       '61. fried chicken wings (4pc)(standard)',
       '47. yaki soba(vegatable)', '47. yaki soba(chicken)',
       '47. yaki soba(chicken katsu)', '47. yaki soba(seafood)',
       '47. yaki soba(grilled ribeye steak)', '47. yaki soba(beef)',
       '47. yaki udon(vegetable)', '47. yaki udon(chicken)',
       '47. yaki udon(beef)', '47. yaki udon(chicken katsu)',
       '47. yaki udon(seafood)', '47. yaki udon(grilled ribeye steak)',
       '48. soup ramen(pork belly)', '48. soup ramen(pork cutlet katsu)',
       '48. soup ramen(chicken)', '48. soup ramen(seafood)',
       '48. soup ramen(grilled ribeye steak)', '48.soup udon(pork belly)',
       '48.soup udon(chicken)', '48.soup udon(chilli beef)',
       '48.soup udon(pork katsu)', '48.soup udon(seafood)',
       '48.soup udon(grilled ribeye steak)',
       '45. grill meat platter(standard)',
       '46. seafood platter(standard)', '14. monte verde merlot(125ml)',
       '14. monte verde merlot(175ml)', '14. monte verde merlot(250ml)',
       '14. monte verde merlot(bottle)',
       '15. berri estates shiraz(125ml)',
       '15. berri estates shiraz(175ml)',
       '15. berri estates shiraz(250ml)',
       '15. berri estates shiraz(bottle)',
       '16. rare vineyards pinot noir(125ml)',
       '16. rare vineyards pinot noir(175ml)',
       '16. rare vineyards pinot noir(250ml)',
       '16. rare vineyards pinot noir(bottle)',
       '17 alma mora malbec(125ml)', '17 alma mora malbec(175ml)',
       '17 alma mora malbec(250ml)', '17 alma mora malbec(bottle)',
       '70. dolsot bimbimbap(beef)', '70. dolsot bimbimbap(chicken)',
       '70. dolsot bimbimbap(pork)', '70. dolsot bimbimbap(vegetable)',
       '71. kimchi fried rice(pork)', '71. kimchi fried rice(chicken)',
       '71. kimchi fried rice(vegetable)', '72. bok gum bap(pork)',
       '72. bok gum bap(chicken)', '72. bok gum bap(vegetable)',
       '73. squid thop bap(standard)', '74. gimbap(beef)',
       '74. gimbap(spicy chicken)', '74. gimbap(pork belly)',
       '74. gimbap(vegetable)', '16. chilli beef(standard)',
       '17. teriyaki chicken(standard)', '18. pork yakitori(standard)',
       '19. miso lamb(standard)', '20. teriyaki salmon(standard)',
       '21. grilled squid(standard)', '22. teriyaki beef(standard)',
       '15. grill wings(standard)', '23. mixed vegetable(standard)',
       '12. belvino pinot grigio rosato(125ml)',
       '12. belvino pinot grigio rosato(175ml)',
       '12. belvino pinot grigio rosato(250ml)',
       '12. belvino pinot grigio rosato(bottle)',
       '13. whispering hills(125ml)', '13. whispering hills(175ml)',
       '13. whispering hills(250ml)', '13. whispering hills(bottle)',
       'chilli fries(standard)', 'edamame(standard)',
       'miso soup(standard)', 'steamed rice(standard)',
       'apple juice(standard)', 'coke(standard)', 'diet coke(standard)',
       'fanta(standard)', 'fever tree pink tonic(standard)',
       'fever tree slimline tonic(standard)',
       'fever tree tonic(standard)', 'j2o(standard)',
       'lemonade(standard)', 'orange juice(standard)',
       'pineapple juice(standard)', 'soda water(standard)',
       'still / sparkling water(330ml)', 'still / sparkling water(750ml)',
       'gunkan (2pc)(spicy tuna or spicy salmon)',
       'gunkan (2pc)(avacado)', 'kagugiri(standard)',
       'soft shell crab rolls(standard)',
       'sushi platter (16 pc)(standard)', '66. yuk gae jang(standard)',
       '67. kimchi stew(standard)', '68. tofu stew(standard)',
       '69. kkori gom tang(standard)', '40. chilli beef(standard)',
       '41. salmon teriyaki(standard)', 'amaretto(single)',
       'bombay(single)', 'gordans(single)', 'rum(single)',
       'sambuca(single)', 'smirnoff(single)', 'tequila(standard)',
       'whiskey(single)', 'maki (3pc)(salmon)', 'maki (3pc)(tuna)',
       'maki (3pc)(bell pepper)', 'maki (3pc)(chicken katsu)',
       'maki (3pc)(avocado)', 'maki (3pc)(cucumber)',
       'nigiri (3pc)(tamago)', 'nigiri (3pc)(asparagus)',
       'nigiri (3pc)(avocado)', 'nigiri (3pc)(salmon)',
       'nigiri (3pc)(tuna)', 'nigiri (3pc)(prawn)',
       'sashimi (4pc)(salmon)', 'sashimi (4pc)(tuna)',
       'temaki (1pc)(salmon)', 'temaki (1pc)(tuna)',
       'temaki (1pc)(chicken katsu)', 'temaki (1pc)(prawn tempura)',
       'temaki (1pc)(avocado)', 'nigiri platter (12pc)(standard)',
       'sushi platter (30pc)(standard)', 'california(standard)',
       'dynamite(standard)', 'kagugiri (sushi rolls 4pc)(standard)',
       'prawn tempura(standard)', 'salmon avocado(standard)',
       'soft shell crab(standard)', 'spicy chicken katsu(standard)',
       'spicy tuna(standard)', 'umi zarigani(standard)',
       'cappuccino(standard)', 'espresso(standard)', 'latte(standard)',
       'tea(standard)', '01. spicy squid(standard)',
       '02. prawn tempura(standard)', '03. vegetable tempura(standard)',
       '04. soft shell crab tempura(standard)',
       '05. chicken harumaki(standard)', '07. tuna tartar(standard)',
       '08. chicken karaagi(standard)',
       '09. seafood okonomiyaki(standard)', '10. agedashi tofu(standard)',
       '11. takoyaki(standard)', '12. wasabi prawns(standard)',
       '13. grilled unagi eel(standard)', '6. salmon tartar(standard)',
       '06 monte verde sauvignon blanc(125ml)',
       '06 monte verde sauvignon blanc(175ml)',
       '06 monte verde sauvignon blanc(250ml)',
       '06 monte verde sauvignon blanc(bottle)',
       '07 cullinan view chenin blanc(125ml)',
       '07 cullinan view chenin blanc(175ml)',
       '07 cullinan view chenin blanc(250ml)',
       '07 cullinan view chenin blanc(bottle)',
       '08 parini pinot grigio(125ml)', '08 parini pinot grigio(175ml)',
       '08 parini pinot grigio(250ml)', '08 parini pinot grigio(bottle)',
       '09 short mile bay chardonnay(125ml)',
       '09 short mile bay chardonnay(175ml)',
       '09 short mile bay chardonnay(250ml)',
       '09 short mile bay chardonnay(bottle)',
       '10 vine trail gewurztraminer(125ml)',
       '10 vine trail gewurztraminer(175ml)',
       '10 vine trail gewurztraminer(250ml)',
       '10 vine trail gewurztraminer(bottle)',
       '11 pulpo sauvignon blanc(125ml)',
       '11 pulpo sauvignon blanc(175ml)',
       '11 pulpo sauvignon blanc(250ml)',
       'chicken katsu maki (4pc)(standard)', 'salmon sashimi(standard)',
       'beef bulgogi(standard)', 'kimchee fried rice(chicken)',
       'kimchee fried rice(seafood)', 'kimchee fried rice(vegetable)',
       'sake(default)', 'liquer coffee(-)', 'dash cordial(-)',
       'americano(-)', 'fruit tea(-)', 'green tea(-)',
       'jack daniels(single)', 'mocktail(-)', 'gordans pink gin(single)',
       'gordans pink gin(double)', 'amaretto(double)', 'navy rum(single)',
       'brandy(single)', 'martell(single)', 'baileys(single)',
       'baileys(double)', 'sake(white wine)', 'bombay(double)',
       'gordans(double)', 'hendricks(double)', 'jack daniels(double)',
       'rum(double)', 'sambuca(double)', 'smirnoff(double)',
       'whiskey(double)', 'tofu katsu small plate(-)',
       'miso aubergine small plate(-)', 'pumpkin katsu small plate(-)',
       'tofu curry(-)', 'veg okonomiyaki(-)', 'pumpkin curry(-)',
       'aubergine donburi(-)', '14. pan fried scallops(-)',
       '39. beef teriyaki(-)', '38. chili prawn firecracker rice(-)',
       '48. soup ramen(chilli beef)', '64. spicy lamb noodle(-)',
       'cocktail(-)', 'ginza roll(-)', 'seared salmon roll(-)',
       'smoked salmon roll(-)', 'duck sushi roll(-)',
       'nigiri (3pc)(beef)', 'nigiri (3pc)(eel)',
       'nigiri (3pc)(prawn tempura)', 'veg sushi platter(-)',
       'gunkan 2pc(dynamite)', 'gunkan 2pc(avocado)',
       'gunkan 2pc(spicy tuna)', 'tataki(salmon salsa)',
       'sweet potato fries(-)', 'mochi(-)', 'fudge cake(-)',
       'prawn cracker(-)', 'lucky buddha(-)', 'egg fried rice(-)',
       'dips(-)', 'dorayaki(-)', 'cocktaill(-)', 'small sake(-)',
       'tap water(glass)', 'tap water(jug)',
       'chicken katsu  curry 日式咖喱鸡(-)', 'pork bulgogi 猪肉片饭(-)',
       'salmon teriyaki 照烧三文鱼(-)', 'chicken teriyaki 红烧鸡肉(-)',
       'vegetable skewer 杂菜串(-)', 'bento vegetable tempura(-)',
       'bento korean fried wings(-)', 'bento chicken harumaki(4pc)(-)',
       'bento mandu dumplings(4pc)(-)',
       'bento chicken katsu sushi(4pc)(-)', 'seared salmon nigiri',
       '34. salmon teriaki', '65. spicy mixed seafood noodles han',
       '24. chicken katsu bun', '27.crispy duck bun', '28. buns platter',
       'restaurant special set', 'singha lager', 'half singha(half)',
       'maki (6pc)(salmon)', 'ginza roll(4pc)', 'ginza roll(8pc)',
       'california(4pc)', 'california(8pc)', 'spicy chicken katsu(4pc)',
       'spicy chicken katsu(8pc)', 'dynamite(4pc)', 'dynamite(8pc)',
       'salmon avocado(4pc)', 'salmon avocado(8pc)', 'rainbow roll(4pc)',
       'rainbow roll(8pc)', 'seared salmon roll(4pc)',
       'seared salmon roll(8pc)', 'smoked salmon roll(4pc)',
       'smoked salmon roll(8pc)', 'duck roll(4pc)', 'duck roll(8pc)',
       'ebi katsu roll(4pc)', 'ebi katsu roll(8pc)',
       'eel dragon roll(4pc)', 'eel dragon roll(8pc)',
       '2. lunetta vino spumante rose brut(bottle)', 'tea(green)',
       'tea(english)', 'tea(peppermint)', 'tea(jasmine green)',
       'soju(fresh)', 'soju(plum)', 'jinro cham yi sul(green grape🍇)',
       'singha lager(half)', 'shirley temple', 'sunrise',
       'sunrise(mango)', 'sunrise(passion fruit)', 'magical lagoon',
       'for cherry’s “sake”', 'mojito(passion fruit)', 'mojito(cherry 🍒)',
       'mojito(lychee)', 'margarita', 'espresso martini',
       'bellini(passion fruit)', 'bellini(mango 🥭)', 'whisky smash',
       'passoã collins', 'long island iced tea', 'cocktail',
       'juice(apple 🍎)', 'juice(orange 🍊)', 'juice(pineapple 🍍)',
       'juice(mango 🥭)', 'juice(cranberry)', 'baby guinness',
       'lychee liqueur', 'ginger ale', 'sprite', 'cocumber kimchi(-)',
       '52.rib eye(standard)', '53.dwaeji galbi ribs(default)',
       '54.beef bulgogi(standard)', '55.pork bulgogi(default)',
       '56.chicken bulgogi(default)', '57.chargrilled squid(standard)',
       '58.lettuce, garlic & chilli(standard)',
       '35.chicken teriyaki bun(standard)',
       '36. beef teriyaki bun(standard)', '1. prosecco lunetta(20cl)',
       '1. prosecco lunetta(bottle)',
       '2. lunetta vino spumante rose brut(20cl)',
       '3. taittinger brut reserve nv(standard)', 'mojito(standard)',
       '25.chicken katsu curry(standard)',
       '26. prawn katsu curry(standard)', '27.beef curry(standard)',
       '28.chicken teriyaki(standard)', '30. grilled unagi rice(default)',
       '45.kimchi ramen(standard)', 'kimchi(standard)',
       'mooli kimchi(standard)', 'soju(standard)',
       '14.seafood pancake(standard)', '15.kimchi pancake(standard)',
       '16.corn cheese(standard)', '17. topokki(standard)',
       '18.mandu (5pc)(standard)',
       '19.fried chicken wings (4pc)(standard)',
       '40.yaki soba(vegatable)', '40.yaki soba(chicken)',
       '40.yaki soba(beef)', '40.yaki soba(seafood)',
       '40.yaki soba(chicken katsu curry)', '40. yaki udon(vegetable)',
       '40. yaki udon(chicken)', '40. yaki udon(beef)',
       '40. yaki udon(chicken katsu)', '40. yaki udon(seafood)',
       '39.soup ramen', '39.soup ramen(pork belly)',
       '39.soup ramen(chilli beef)', '39.soup ramen(chicken)',
       '39.soup ramen(seafood)', '39.soup udon(chicken)',
       '39.soup udon(chilli beef)', '39.soup udon(pork belly)',
       '39.soup udon(seafood)', '59. grill meat platter(standard)',
       '60. seafood platter(standard)',
       '12. merlot valle central brisa(125ml)',
       '12. merlot valle central brisa(175ml)',
       '12. merlot valle central brisa(250ml)',
       '13. shiraz woolloomooloo(125ml)',
       '13. shiraz woolloomooloo(175ml)',
       '13. shiraz woolloomooloo(250ml)',
       '13. shiraz woolloomooloo(bottle)',
       '14. pinot noir pays d’oc igp le fou(125ml)',
       '14. pinot noir pays d’oc igp le fou(175ml)',
       '14. pinot noir pays d’oc igp le fou(250ml)',
       '14. pinot noir pays d’oc igp le fou(bottle)',
       '15. malbec la nina mendoza don cristobal(125ml)',
       '15. malbec la nina mendoza don cristobal(175ml)',
       '15. malbec la nina mendoza don cristobal(250ml)',
       '15. malbec la nina mendoza don cristobal(bottle)',
       '41.dolsot bimbimbap(chicken)', '41.dolsot bimbimbap(pork)',
       '41.dolsot bimbimbap(vegetable)', '42.kimchi fried rice',
       '42.kimchi fried rice(chicken)', '42.kimchi fried rice(vegetable)',
       '43. bok gum bap(chicken)', '43. bok gum bap(vegetable)',
       '47. squid thop bap(standard)', '44.gimbap(chicken)',
       '44.gimbap(pork)', '44.gimbap(vegetable)',
       '20.chilli beef(standard)', '21. teriyaki chicken side(standard)',
       '33. tofu katsu bun(standard)', '22.miso lamb(standard)',
       '23.teriyaki salmon side(standard)', '24.grilled squid(standard)',
       '11. pinot grigio blush delle venezie igt san vigil(125ml)',
       '11. pinot grigio blush delle venezie igt san vigil(175ml)',
       '11. pinot grigio blush delle venezie igt san vigil(250ml)',
       '11. pinot grigio blush delle venezie igt san vigil(bottle)',
       '12. white zinfandel burlesque(125ml)',
       '12. white zinfandel burlesque(175ml)',
       '12. white zinfandel burlesque(250ml)',
       '12. white zinfandel burlesque(bottle)', 'juice(standard)',
       '48.yuk gae jang(standard)', '49.kimchi stew(standard)',
       '50.tofu stew(standard)', '51. kkori gom tang(standard)',
       'maki (6pc)(bell pepper)', 'maki (6pc)(chicken katsu)',
       'maki (6pc)(avocado)', 'maki (6pc)(cucumber)',
       'nigiri (3pc)(inari)', 'salmon sashimi (4pc)(salmon)',
       'soft shell crab 8pc(standard)',
       '13. grilled unagi eel side(standard)',
       '5. sauvignon blanc brisa(125ml)',
       '5. sauvignon blanc brisa(175ml)',
       '5. sauvignon blanc brisa(250ml)',
       '5. sauvignon blanc brisa(bottle)',
       '6. chenin blanc slow false bay coastal region(125ml)',
       '6. chenin blanc slow false bay coastal region(175ml)',
       '6. chenin blanc slow false bay coastal region(250ml)',
       '6. chenin blanc slow false bay coastal region(bottle)',
       '7. pinot grigio san vigilio provincia di pavia igt(125ml)',
       '7. pinot grigio san vigilio provincia di pavia igt(175ml)',
       '7. pinot grigio san vigilio provincia di pavia igt(250ml)',
       '7. pinot grigio san vigilio provincia di pavia igt(bottle)',
       '8. chardonnay woolloomooloo(125ml)',
       '8. chardonnay woolloomooloo(175ml)',
       '8. chardonnay woolloomooloo(250ml)',
       '8. chardonnay woolloomooloo(bottle)',
       '9. gewurztraminer a.a.c. cave de beblenheim(125ml)',
       '9. gewurztraminer a.a.c. cave de beblenheim(175ml)',
       '9. gewurztraminer a.a.c. cave de beblenheim(250ml)',
       '9. gewurztraminer a.a.c. cave de beblenheim(bottle)',
       '31.beef teriyaki rice(-)', '32.chili prawn firecracker rice(-)',
       '46.spicy lamb noodle(-)', 'nigiri (3pc)(seared salmon)',
       'veg sushi platter 20pc(-)', 'cosmopolitan(-)',
       '29.salmon teriaki rice', '34.chicken katsu bun',
       '37.crispy duck bun', '38.buns platter',
       '41.dolsot bimbimbap(beef)', '42.kimchi fried rice(pork)',
       '43. bok gum bap(pork)', '44.gimbap(beef)', 'soju(green grape🍇)',
       'bellini(lychee)', 'summer rosé spritz', 'coke zero',
       'additional charge for sashimi(-)', '76. la gar bi(default)',
       '77. bulgogi(standard)',
       '05 taittinger prestige brut rose(standard)',
       '37.salmon & tobiko eggfried rice(standard)', 'calpis(standard)',
       'palde rice punch(standard)', 'ramune lychee(standard)',
       '55. beef jap chae(standard)', '60. kan pun ki (6pc)(standard)',
       'lunch/early set', '47. yaki soba(king prawns)',
       '47. yaki soba(pan seared duck)', '47. yaki udon(king prawns)',
       '47. yaki udon(pan seared duck)', '48. soup ramen(vegetable)',
       '48. soup ramen(king prawns)', '48.soup udon(vegetable)',
       '48.soup udon(king prawns)',
       '27. japanese grill platter(standard)',
       '28. seafood platter(standard)', '22. king prawn(standard)',
       '23. lobster tail(standard)', '24. mixed vegetable(standard)',
       'wakame salad(standard)', '39. miso lamb (4pc)(standard)',
       '42. pan seared duck breast(standard)', '43. rare tuna(standard)',
       '44. pan fried cod fillet(standard)',
       '45. pan seared seabass(standard)',
       '46. chargrilled rib eye steak(standard)', 'hendricks(single)',
       'starter break(standard)', '06. duck harumaki(standard)',
       '07. tebaski chicken wings(standard)',
       '08. spicy minced beef tacos(standard)',
       '09. tuna tacos(standard)', '14. chicken katsu(standard)',
       '11 pulpo sauvignon blanc(bottle)', 'brandy(double)',
       '15. pan fried scallops(-)', '34. beef teriyaki(-)',
       '38. fish karaage(-)', 'tataki(beef tataki)', 'soju(-)',
       'navy rum(double)'], dtype=object)

In [23]:
df[df.category.str.lower().str.contains("cocktail")]

,name,category,sold,sales_inc_tax,discount,sales_exc_tax,cost_inc_tax,gross_profit,markup,year
25,asia daisy(standard),cocktails,469,3143.14,21.70,3300.30,0.0,3300.30,0.0,2023
26,japanese slipper(standard),cocktails,121,816.38,0.80,857.20,0.0,857.20,0.0,2023
27,korean yoghurt soju(standard),cocktails,120,811.19,3.25,851.75,0.0,851.75,0.0,2023
28,matcha mojito(standard),cocktails,108,724.10,0.70,760.30,0.0,760.30,0.0,2023
29,plum sour(standard),cocktails,115,777.14,0.00,816.00,0.0,816.00,0.0,2023
266,mocktail(-),cocktails,1109,4219.56,23.46,4430.54,0.0,4430.54,0.0,2023
296,cocktail(-),cocktails,1499,10462.16,30.84,10462.16,0.0,10462.16,0.0,2023
317,cocktaill(-),cocktails,164,1309.60,2.40,1309.60,0.0,1309.60,0.0,2023
381,for cherry’s “sake”,asian cocktails,13,111.43,0.00,117.00,0.0,117.00,0.0,2023
382,mojito(passion fruit),asian cocktails,14,106.63,0.04,111.96,0.0,111.96,0.0,2023
383,mojito(cherry 🍒),asian cocktails,1,7.62,0.00,8.00,0.0,8.00,0.0,2023
384,mojito(lychee),asian cocktails,5,38.10,0.00,40.00,0.0,40.00,0.0,2023
385,margarita,classic cocktails,7,53.33,0.00,56.00,0.0,56.00,0.0,2023
386,espresso martini,classic cocktails,11,83.81,0.00,88.00,0.0,88.00,0.0,2023
387,bellini(passion fruit),classic cocktails,3,22.86,0.00,24.00,0.0,24.00,0.0,2023
388,bellini(mango 🥭),classic cocktails,3,22.86,0.00,24.00,0.0,24.00,0.0,2023
389,whisky smash,classic cocktails,6,45.71,0.00,48.00,0.0,48.00,0.0,2023
390,passoã collins,classic cocktails,3,22.86,0.00,24.00,0.0,24.00,0.0,2023
391,long island iced tea,classic cocktails,8,60.89,0.07,63.93,0.0,63.93,0.0,2023
392,cocktail,classic cocktails,37,277.33,4.80,291.20,0.0,291.20,0.0,2023
20,asia daisy(standard),asian cocktails,55,416.35,2.83,437.17,0.0,437.17,0.0,2024
21,japanese slipper(standard),asian cocktails,29,220.95,0.00,232.00,0.0,232.00,0.0,2024
22,korean yoghurt soju(standard),asian cocktails,21,160.00,0.00,168.00,0.0,168.00,0.0,2024
23,mojito(standard),asian cocktails,6,45.71,0.00,48.00,0.0,48.00,0.0,2024
24,plum sour(standard),asian cocktails,25,190.48,0.00,200.00,0.0,200.00,0.0,2024
226,cosmopolitan(-),classic cocktails,12,91.43,0.00,96.00,0.0,96.00,0.0,2024
285,for cherry’s “sake”,asian cocktails,33,282.86,0.00,297.00,0.0,297.00,0.0,2024
286,mojito(passion fruit),asian cocktails,30,228.57,0.00,240.00,0.0,240.00,0.0,2024
287,mojito(cherry 🍒),asian cocktails,17,129.52,0.00,136.00,0.0,136.00,0.0,2024
288,mojito(lychee),asian cocktails,10,76.19,0.00,80.00,0.0,80.00,0.0,2024
289,margarita,classic cocktails,21,160.00,0.00,168.00,0.0,168.00,0.0,2024
290,espresso martini,classic cocktails,21,159.24,0.80,167.20,0.0,167.20,0.0,2024
291,bellini(passion fruit),classic cocktails,4,30.48,0.00,32.00,0.0,32.00,0.0,2024
292,bellini(mango 🥭),classic cocktails,8,60.95,0.00,64.00,0.0,64.00,0.0,2024
293,bellini(lychee),classic cocktails,3,21.71,1.20,22.80,0.0,22.80,0.0,2024
294,whisky smash,classic cocktails,11,79.24,4.80,83.20,0.0,83.20,0.0,2024
295,passoã collins,classic cocktails,16,121.90,0.00,128.00,0.0,128.00,0.0,2024
296,summer rosé spritz,classic cocktails,8,60.95,0.00,64.00,0.0,64.00,0.0,2024
297,long island iced tea,classic cocktails,23,175.24,0.00,184.00,0.0,184.00,0.0,2024
298,cocktail,classic cocktails,26,198.10,0.00,208.00,0.0,208.00,0.0,2024
25,asia daisy(standard),cocktails,363,2344.45,79.33,2461.67,0.0,2461.67,0.0,2021
26,japanese slipper(standard),cocktails,90,591.05,9.40,620.60,0.0,620.60,0.0,2021
27,korean yoghurt soju(standard),cocktails,32,203.52,10.30,213.70,0.0,213.70,0.0,2021
28,matcha mojito(standard),cocktails,107,709.90,3.60,745.40,0.0,745.40,0.0,2021
29,plum sour(standard),cocktails,100,655.77,11.44,688.56,0.0,688.56,0.0,2021
274,mocktail(-),cocktails,945,3572.09,29.31,3750.69,0.0,3750.69,0.0,2021
301,cocktail(-),cocktails,3013,20119.23,971.77,20119.23,0.0,20119.23,0.0,2021
322,cocktaill(-),cocktails,86,680.90,7.10,680.90,0.0,680.90,0.0,2021
25,asia daisy(standard),cocktails,815,5392.84,42.52,5662.48,0.0,5662.48,0.0,2022
26,japanese slipper(standard),cocktails,236,1568.55,5.02,1646.98,0.0,1646.98,0.0,2022
27,korean yoghurt soju(standard),cocktails,132,868.45,12.13,911.87,0.0,911.87,0.0,2022
28,matcha mojito(standard),cocktails,189,1245.33,15.40,1307.60,0.0,1307.60,0.0,2022
29,plum sour(standard),cocktails,246,1633.67,6.65,1715.35,0.0,1715.35,0.0,2022
277,mocktail(-),cocktails,1530,5795.00,35.25,6084.75,0.0,6084.75,0.0,2022
307,cocktail(-),cocktails,2517,17540.88,78.12,17540.88,0.0,17540.88,0.0,2022
329,cocktaill(-),cocktails,293,2329.75,14.25,2329.75,0.0,2329.75,0.0,2022