# Data Cleaning

In [2]:
import pandas as pd
import numpy as np
import plotly.express as px

import os

files = os.listdir("data")
for file in files:
    print(file)

Product Reports 01 January 2023 - 31 December 2023.csv
Product Reports 01 January 2024 - 29 February 2024.csv
Product Reports 01 January 2021 - 31 December 2021.csv
Product Reports 01 January 2022 - 31 December 2022.csv

Data Loading

In [3]:
import re
from datetime import datetime


dfs = []
for file in files:
    # match = re.search(r'\d{2} (.*?) \d{4}', file)
    year = re.search(r'\d{4}', file).group()
    # date = datetime.strptime(match.group(), r"%d %M %Y").date()
    # print(match.group())
    df = pd.read_csv(f"data/{file}")
    df["year"] = int(year)
    dfs.append(df)

df = pd.concat(dfs)

In [4]:
df.head()

,Menu Item Name,Menu Category,QTY sold,Sales exc Tax.,Discounts,Sales inc Tax.(a),Cost inc Tax(b),Gross Profit(a)-(b),Markup Percentage %(a-b)/b * 100%,year
0,box(-),NaN,1550,£ 5889.10,£ 24.26,£ 5889.10,£ 0.00,£ 5889.10,0 %,2023
1,75. Rib Eye(Standard),BBQ (Korean) 75 - 84,598,£ 8491.85,£ 55.76,£ 8916.44,£ 0.00,£ 8916.44,0 %,2023
2,65D. Egg(Standard),Extras,2,£ 0.95,£ 0.00,£ 1.00,£ 0.00,£ 1.00,0 %,2023
3,76. Dwaeji galbi ribs(default),BBQ (Korean) 75 - 84,220,£ 2499.38,£ 10.65,£ 2624.35,£ 0.00,£ 2624.35,0 %,2023
4,77. beef Bulgogi(Standard),BBQ (Korean) 75 - 84,867,£ 9773.04,£ 121.61,£ 10261.69,£ 0.00,£ 10261.69,0 %,2023

In [5]:
df.shape

(1400, 10)

Renaming columns for ease of manipulation

In [6]:
df.columns

Index(['Menu Item Name', 'Menu Category', 'QTY sold', 'Sales exc Tax.',
       'Discounts', 'Sales inc Tax.(a)', 'Cost inc Tax(b)',
       'Gross Profit(a)-(b)', 'Markup Percentage %(a-b)/b * 100%', 'year'],
      dtype='object')

In [7]:
df.columns = ["name", "category", "sold", "sales_inc_tax", "discount", "sales_exc_tax", "cost_inc_tax", "gross_profit", "markup", "year"]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1400 entries, 0 to 349
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           1400 non-null   object
 1   category       1392 non-null   object
 2   sold           1400 non-null   int64
 3   sales_inc_tax  1400 non-null   object
 4   discount       1400 non-null   object
 5   sales_exc_tax  1400 non-null   object
 6   cost_inc_tax   1400 non-null   object
 7   gross_profit   1400 non-null   object
 8   markup         1400 non-null   object
 9   year           1400 non-null   int64
dtypes: int64(2), object(8)
memory usage: 120.3+ KB

Columns that are supposed to be `float` are being parsed as `object`. This is due to the values having:
- the currency sign (which in this case is `£`)
- the percentage sign `%`

In [9]:
currency_columns = ["sales_inc_tax", "discount", "sales_exc_tax", "cost_inc_tax", "gross_profit"]
percentage_columns = ["markup"]

for col in currency_columns:
    df[col] = df[col].str.replace("£", "").str.strip().astype(float)

for col in percentage_columns:
    df[col] = df[col].str.replace("%", "").str.strip().astype(float)

df.head()

,name,category,sold,sales_inc_tax,discount,sales_exc_tax,cost_inc_tax,gross_profit,markup,year
0,box(-),NaN,1550,5889.10,24.26,5889.10,0.0,5889.10,0.0,2023
1,75. Rib Eye(Standard),BBQ (Korean) 75 - 84,598,8491.85,55.76,8916.44,0.0,8916.44,0.0,2023
2,65D. Egg(Standard),Extras,2,0.95,0.00,1.00,0.0,1.00,0.0,2023
3,76. Dwaeji galbi ribs(default),BBQ (Korean) 75 - 84,220,2499.38,10.65,2624.35,0.0,2624.35,0.0,2023
4,77. beef Bulgogi(Standard),BBQ (Korean) 75 - 84,867,9773.04,121.61,10261.69,0.0,10261.69,0.0,2023

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1400 entries, 0 to 349
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           1400 non-null   object
 1   category       1392 non-null   object
 2   sold           1400 non-null   int64
 3   sales_inc_tax  1400 non-null   float64
 4   discount       1400 non-null   float64
 5   sales_exc_tax  1400 non-null   float64
 6   cost_inc_tax   1400 non-null   float64
 7   gross_profit   1400 non-null   float64
 8   markup         1400 non-null   float64
 9   year           1400 non-null   int64
dtypes: float64(6), int64(2), object(2)
memory usage: 120.3+ KB

As seen above the column types are fixed.

In [11]:
df.describe()

,sold,sales_inc_tax,discount,sales_exc_tax,cost_inc_tax,gross_profit,markup,year
count,1400.000000,1400.000000,1400.000000,1400.000000,1400.0,1400.000000,1400.0,1400.000000
mean,417.558571,2805.504229,37.775300,2935.522671,0.0,2935.522671,0.0,2022.490000
std,4374.167324,29254.448751,409.809853,30607.512298,0.0,30607.512298,0.0,1.083986
min,1.000000,0.000000,-50.000000,0.000000,0.0,0.000000,0.0,2021.000000
25%,21.750000,98.930000,0.000000,103.500000,0.0,103.500000,0.0,2022.000000
50%,80.000000,489.670000,3.370000,513.150000,0.0,513.150000,0.0,2023.000000
75%,236.250000,1572.787500,20.635000,1647.405000,0.0,1647.405000,0.0,2023.000000
max,105672.000000,698744.260000,11407.760000,730360.670000,0.0,730360.670000,0.0,2024.000000

## Empty and duplicate data
Checking for empty values and duplicates

In [12]:
df.duplicated().sum()

0

In [13]:
df.isna().sum()

name             0
category         8
sold             0
sales_inc_tax    0
discount         0
sales_exc_tax    0
cost_inc_tax     0
gross_profit     0
markup           0
year             0
dtype: int64

In [14]:
df[df.category.isna()]

,name,category,sold,sales_inc_tax,discount,sales_exc_tax,cost_inc_tax,gross_profit,markup,year
0,box(-),NaN,1550,5889.10,24.26,5889.10,0.0,5889.10,0.0,2023
402,Total Sales,NaN,100916,693532.78,6095.22,726228.89,0.0,726228.89,0.0,2023
0,cocumber kimchi(-),NaN,196,1629.97,5.71,1629.97,0.0,1629.97,0.0,2024
309,Total Sales,NaN,13778,106910.06,841.21,111991.12,0.0,111991.12,0.0,2024
0,additional charge for sashimi(-),NaN,38,169.93,4.27,169.93,0.0,169.93,0.0,2021
336,Total Sales,NaN,71925,464665.86,11407.76,486285.19,0.0,486285.19,0.0,2021
0,soju(-),NaN,1188,6026.77,60.47,6026.77,0.0,6026.77,0.0,2022
349,Total Sales,NaN,105672,698744.26,8098.52,730360.67,0.0,730360.67,0.0,2022

As seen above, there are some legitimate products with no category. The other ones are `Total Sales` just noise.

I will remove these as they are not needed.

In [15]:
df = df[~(df.name == "Total Sales")]

In [16]:
df.isna().sum()

name             0
category         4
sold             0
sales_inc_tax    0
discount         0
sales_exc_tax    0
cost_inc_tax     0
gross_profit     0
markup           0
year             0
dtype: int64

The remaining products with no category are custom sales that are not at the menu at the time.
Thus I will replace it with `custom` category.

In [17]:
df  = df.fillna("custom")
df.head()

,name,category,sold,sales_inc_tax,discount,sales_exc_tax,cost_inc_tax,gross_profit,markup,year
0,box(-),custom,1550,5889.10,24.26,5889.10,0.0,5889.10,0.0,2023
1,75. Rib Eye(Standard),BBQ (Korean) 75 - 84,598,8491.85,55.76,8916.44,0.0,8916.44,0.0,2023
2,65D. Egg(Standard),Extras,2,0.95,0.00,1.00,0.0,1.00,0.0,2023
3,76. Dwaeji galbi ribs(default),BBQ (Korean) 75 - 84,220,2499.38,10.65,2624.35,0.0,2624.35,0.0,2023
4,77. beef Bulgogi(Standard),BBQ (Korean) 75 - 84,867,9773.04,121.61,10261.69,0.0,10261.69,0.0,2023

Sort by quantity sold

In [18]:
df = df.sort_values("sold", ascending=False, ignore_index=True)
df.head()

,name,category,sold,sales_inc_tax,discount,sales_exc_tax,cost_inc_tax,gross_profit,markup,year
0,Asahi(Pint),Draught Beer,5026,24832.01,61.59,26073.61,0.0,26073.61,0.0,2022
1,Asahi(Pint),Draught Beer,4733,23397.70,44.01,24567.59,0.0,24567.59,0.0,2023
2,Asahi(Pint),Draught Beer,3954,19442.52,146.15,20414.65,0.0,20414.65,0.0,2021
3,Coke(Standard),Soft Drinks,3852,9912.78,18.98,10408.42,0.0,10408.42,0.0,2023
4,Coke(Standard),Soft Drinks,3494,8931.53,55.69,9378.11,0.0,9378.11,0.0,2022

Drop markup column: it is irrelevant since it doesn't contain anything other than 0

In [19]:
df.markup.describe()

count    1396.0
mean        0.0
std         0.0
min         0.0
25%         0.0
50%         0.0
75%         0.0
max         0.0
Name: markup, dtype: float64

In [20]:
df = df.drop(columns=["markup"], errors="ignore")

## Data Standardisation

- (easy) name and categories must be lowercase
- (easy) add a new column to classify drinks and food `is_food`
- (hard) some names are different but refer to same product: combine these
- (medium) some categories are different but refer to same category: combine these
- (easy) remove unnecessary noise from the names and categories e.g. product number, emojis
- (medium) introduce a new column: `variant` for more granular analysis. To illustrate:

| name |
|------|
|bibimbap(beef)|

into

| name | variant |
|------|---------|
| bibimbap | beef |

In [21]:
df.name = df.name.str.lower()
df.category = df.category.str.lower()

In [22]:
df.category.unique()

array(['draught beer', 'soft drinks', 'cocktails', 'sides',
       'donburi 29-39', 'donburi 29-38', 'set menu', 'custom',
       'traditional 1-15', 'korean starter 53-61', 'buns 24-28',
       'traditional 1-14', 'rice dishes 70-74', 'bbq (korean) 75 - 84',
       'buns 25-26', 'sushi', 'sushi rolls (4pc)', 'korean sides 49-52',
       'lunch bento', 'korean soft drinks', 'noodles 47-48',
       'korean nood 62-65', 'soup 66-69', 'tea / coffee',
       'korean nood 62-64', 'robata grill 16-24', 'robata grill 15-23',
       'bottled beer & cider', 'japan rice dis 25-32', 'vegan',
       'sides extras', 'white wine', 'special mains 39-46',
       'platters 45-46', 'dessert', 'korean soju', 'platters 27-28',
       'spirits', 'sushi platters', 'buns 33-38', 'korean side 14-24',
       'rose wine', 'japanese side 1-13', 'ramen & noodle 39-40',
       'champagne', 'korean dishes 41-51', 'red wine', 'grill bbq 52-60',
       'korean set menu', 'sushi rolls 4pc/8pc', 'mocktails',
       'restaurant special', 'asian cocktails', 'restaurant specials',
       'classic cocktails', 'spirits & shots', 'bbq platters 59-60',
       'new items', 'starter break line', 'seared salmon nigiri',
       'extras'], dtype=object)

In [23]:
df.name.unique()

array(['asahi(pint)', 'coke(standard)', 'diet coke(standard)',
       'cocktail(-)', 'chilli fries(standard)',
       '29. chicken katsu curry(standard)', 'tap water(glass)',
       'lunch/early set', 'egg fried rice(-)', 'peroni(pint)', 'box(-)',
       'mocktail(-)', 'lemonade(standard)', 'steamed rice(standard)',
       '02. prawn tempura(standard)', '59. mandu (5pc)(standard)',
       '27.crispy duck bun', '01. spicy squid(standard)', 'soju(-)',
       '34. salmon teriaki', '06. duck harumaki(standard)',
       '33. chicken teriyaki(standard)', '39. beef teriyaki(-)',
       '08. chicken karaagi(standard)',
       '61. fried chicken wings (4pc)(standard)',
       '70. dolsot bimbimbap(beef)', '34. beef teriyaki(-)',
       '77. beef bulgogi(standard)', 'stella(pint)',
       '25. chicken teriyaki(standard)', '11. takoyaki(standard)',
       'asia daisy(standard)', '05. chicken harumaki(standard)',
       'sweet potato fries(-)', 'chicken katsu  curry 日式咖喱鸡(-)',
       'maki (3pc)(salmon)', '77. bulgogi(standard)',
       'dynamite(standard)', 'camden pale ale(pint)',
       '24. chicken katsu bun', '50. kimchi(standard)',
       'bento mandu dumplings(4pc)(-)', 'spicy chicken katsu(standard)',
       '26. beef teriyaki(standard)', 'california(standard)',
       'hai tai bong bong grape juice(standard)',
       '47. yaki soba(chicken)', 'asahi(half)',
       '63. kimchi ramen(standard)', 'chicken teriyaki 红烧鸡肉(-)',
       'fanta(standard)', '08. spicy minced beef tacos(standard)',
       '57. topokki(standard)', 'edamame(standard)',
       'nigiri (3pc)(salmon)', '04. soft shell crab tempura(standard)',
       '03. vegetable tempura(standard)', 'bento korean fried wings(-)',
       '75. rib eye(standard)', 'j2o(standard)',
       '38. chili prawn firecracker rice(-)', '64. spicy lamb noodle(-)',
       'maki (3pc)(chicken katsu)', '12. wasabi prawns(standard)',
       '48. soup ramen(chicken)', '71. kimchi fried rice(chicken)',
       '66. yuk gae jang(standard)', '32. beef curry(standard)',
       'miso soup(standard)', 'green tea(-)', 'aloe vera(standard)',
       'prawn tempura(standard)', 'pork bulgogi 猪肉片饭(-)',
       '30. prawn katsu curry(standard)', '62. ja jang myun(standard)',
       'still / sparkling water(330ml)', '16. chilli beef(standard)',
       '70. dolsot bimbimbap(chicken)', '80. pork belly(standard)',
       'maki (3pc)(avocado)', '53. seafood pancake(standard)',
       'dash cordial(-)', '73. squid thop bap(standard)',
       'koppaberg(standard)', 'still / sparkling water(750ml)',
       'soda water(standard)', 'sashimi (4pc)(salmon)',
       'apple juice(standard)', '48. soup ramen(pork belly)',
       '54. kimchi pancake(standard)', 'maki (3pc)(cucumber)',
       '38. fish karaage(-)', '17. teriyaki chicken(standard)',
       '55. bossam pork belly(standard)',
       '25.chicken katsu curry(standard)',
       '60. kan pun ki (6pc)(standard)', '28. buns platter',
       '20. teriyaki salmon(standard)', '47. yaki udon(chicken)',
       'tofu curry(-)', 'bento vegetable tempura(-)',
       '49. kimchi set(standard)', 'tiger(standard)',
       'kagugiri (sushi rolls 4pc)(standard)',
       '78. pork bulgogi(default)', '15. pan fried scallops(-)',
       'bento chicken katsu sushi(4pc)(-)', '67. kimchi stew(standard)',
       '31. tonkatsu curry(standard)', 'bento chicken harumaki(4pc)(-)',
       '48. soup ramen(chilli beef)', '14. pan fried scallops(-)',
       '47. yaki soba(beef)', '06 monte verde sauvignon blanc(250ml)',
       '41. salmon teriyaki(standard)', '70. dolsot bimbimbap(pork)',
       '55. beef jap chae(standard)', '35. grilled unagi(default)',
       'orange juice(standard)', 'pineapple juice(standard)',
       'salmon teriyaki 照烧三文鱼(-)', 'lucky buddha(-)',
       '45. grill meat platter(standard)', '47. yaki soba(vegatable)',
       '6. salmon tartar(standard)', '79. chicken bulgogi(default)',
       'cocktaill(-)', '51. cucumber kimchi(standard)',
       '68. tofu stew(standard)', 'cornish orchard cider(pint)',
       '18. pork yakitori(standard)',
       '65. spicy mixed seafood noodles han', 'fudge cake(-)',
       'peroni(half)', 'spicy tuna(standard)',
       '84. lettuce, garlic & chilli(standard)',
       'jinro cham yi sul (fresh)(standard)', 'duck sushi roll(-)',
       '19. miso lamb(standard)', '09. tuna tacos(standard)',
       'cheesecake(standard)', '71. kimchi fried rice(pork)',
       '15. grill wings(standard)', '47. yaki udon(beef)',
       '22. king prawn(standard)', '27. japanese grill platter(standard)',
       '37.salmon & tobiko eggfried rice(standard)',
       '37.katsudon pork(standard)', 'tea(standard)',
       '08 parini pinot grigio(250ml)', 'soft shell crab(standard)',
       '07. tebaski chicken wings(standard)', 'plum sour(standard)',
       'tequila(standard)', '21. grilled squid(standard)', 'singha lager',
       'veg okonomiyaki(-)', '10. agedashi tofu(standard)',
       'tofu katsu small plate(-)', 'japanese slipper(standard)',
       '14. chicken katsu(standard)', 'fever tree tonic(standard)',
       '06 monte verde sauvignon blanc(175ml)',
       '48. soup ramen(vegetable)', 'temaki (1pc)(salmon)',
       '72. bok gum bap(chicken)', 'salmon avocado(standard)',
       '71. kimchi fried rice(vegetable)',
       '76. dwaeji galbi ribs(default)', 'sushi platter (30pc)(standard)',
       '06 monte verde sauvignon blanc(bottle)', 'tsing tao(standard)',
       '47. yaki soba(king prawns)', '40. chilli beef(standard)',
       '37.crispy duck bun', '69. kkori gom tang(standard)',
       'seared salmon roll(-)', '47. yaki soba(chicken katsu)',
       '74. gimbap(spicy chicken)', 'nigiri platter (12pc)(standard)',
       'maki (3pc)(tuna)', '47. yaki udon(vegetable)',
       'cocumber kimchi(-)', 'pumpkin curry(-)',
       '22. teriyaki beef(standard)', '48. soup ramen(pork cutlet katsu)',
       'small sake(-)', 'dorayaki(-)', 'matcha mojito(standard)',
       '18.mandu (5pc)(standard)', '56. corn cheese(standard)',
       'aubergine donburi(-)', 'americano(-)', 'tap water(jug)',
       'corona(standard)', '70. dolsot bimbimbap(vegetable)',
       '31.beef teriyaki rice(-)',
       '12. belvino pinot grigio rosato(250ml)', 'becks blue(standard)',
       '36. salmon sashimi & tobiko(standard)',
       '13. grilled unagi eel(standard)',
       '42. pan seared duck breast(standard)', '29.salmon teriaki rice',
       '48. soup ramen(seafood)', '47. yaki soba(grilled ribeye steak)',
       'miso aubergine small plate(-)', 'kirin ichi ban(standard)',
       '39.soup ramen(pork belly)', 'ginza roll(-)',
       '72. bok gum bap(pork)', '76. la gar bi(default)',
       'prawn cracker(-)', '09. seafood okonomiyaki(standard)',
       '28.chicken teriyaki(standard)', '46. seafood platter(standard)',
       'smoked salmon roll(-)', 'gordans(single)',
       '47. yaki udon(chicken katsu)', 'latte(standard)', 'sake(default)',
       '28. seafood platter(standard)', '48.soup udon(chicken)',
       '81. king prawns (5pc)(standard)', 'nigiri (3pc)(tuna)',
       '03 da luca prosecco(standard)', '48.soup udon(chilli beef)',
       '08 parini pinot grigio(175ml)', 'korean yoghurt soju(standard)',
       'ice cream(default)', 'fever tree slimline tonic(standard)',
       '74. gimbap(beef)', 'sashimi (4pc)(tuna)',
       '41.dolsot bimbimbap(beef)',
       '19.fried chicken wings (4pc)(standard)', '74. gimbap(pork belly)',
       'cappuccino(standard)', 'kimchi(standard)',
       '83. chargrilled squid(standard)', '14. monte verde merlot(250ml)',
       '39. miso lamb (4pc)(standard)', '47. yaki soba(seafood)',
       '40.yaki soba(chicken)', '39.soup ramen(chicken)',
       '06 monte verde sauvignon blanc(125ml)', 'nigiri (3pc)(eel)',
       '47. yaki udon(king prawns)', '48.soup udon(vegetable)',
       'mochi(-)', '47. yaki udon(pan seared duck)',
       '48. soup ramen(grilled ribeye steak)',
       '08 parini pinot grigio(bottle)', '23. mixed vegetable(standard)',
       '52. mooli kimchi(standard)', 'maki (6pc)(salmon)',
       '47. yaki udon(seafood)', '48.soup udon(pork belly)',
       '54.beef bulgogi(standard)', '24. mixed vegetable(standard)',
       'pumpkin katsu small plate(-)',
       '12. belvino pinot grigio rosato(175ml)',
       '45. pan seared seabass(standard)', '60. dubu jorim(standard)',
       'gordans(double)', '39.soup ramen(chilli beef)',
       'calpis(standard)', '46.spicy lamb noodle(-)',
       'temaki (1pc)(prawn tempura)',
       '46. chargrilled rib eye steak(standard)', 'nigiri (3pc)(prawn)',
       'nigiri (3pc)(prawn tempura)', 'korean set menu(standard)',
       '20.chilli beef(standard)', '47. yaki udon(grilled ribeye steak)',
       '58. tofu kimchi(standard)', '40. yaki udon(chicken)',
       '48. soup ramen(king prawns)', 'smirnoff(double)',
       'espresso(standard)', '72. bok gum bap(vegetable)',
       'cornish orchard cider(half)', '43. rare tuna(standard)',
       '42.kimchi fried rice(chicken)', 'gordans pink gin(single)',
       '82. ox tongue(standard)', '32.chili prawn firecracker rice(-)',
       '45.kimchi ramen(standard)', '34.chicken katsu bun',
       '14. monte verde merlot(175ml)', 'smirnoff(single)',
       '26. prawn katsu curry(standard)', 'temaki (1pc)(chicken katsu)',
       '15.kimchi pancake(standard)', 'coke zero', '52.rib eye(standard)',
       '74. gimbap(vegetable)',
       'jinro cham yi sul (green grapes)(standard)',
       '13. whispering hills(250ml)', '36. beef teriyaki bun(standard)',
       '41.dolsot bimbimbap(chicken)', 'stella(half)',
       '40.yaki soba(beef)', '42.kimchi fried rice(pork)',
       '01 sette bello prosecco(bottle)',
       '12. belvino pinot grigio rosato(bottle)',
       'wakame salad(standard)', '27.beef curry(standard)',
       '17. topokki(standard)', '35.chicken teriyaki bun(standard)',
       'camden pale ale(half)', '09 short mile bay chardonnay(250ml)',
       '15. berri estates shiraz(250ml)', '41.dolsot bimbimbap(pork)',
       'dynamite(4pc)', '44. pan fried cod fillet(standard)',
       '14.seafood pancake(standard)', '48.soup udon(seafood)',
       '14. monte verde merlot(bottle)', 'tea(green)',
       'nigiri (3pc)(avocado)', '21. teriyaki chicken side(standard)',
       '48.yuk gae jang(standard)', '48.soup udon(pork katsu)', 'dips(-)',
       'magical lagoon', '47. yaki soba(pan seared duck)',
       'restaurant special set', '49.kimchi stew(standard)',
       '5. sauvignon blanc brisa(250ml)', 'maki (6pc)(chicken katsu)',
       'spicy chicken katsu(4pc)', 'shirley temple',
       '17 alma mora malbec(250ml)', '07. tuna tartar(standard)',
       '58.lettuce, garlic & chilli(standard)',
       'salmon sashimi (4pc)(salmon)',
       '07 cullinan view chenin blanc(bottle)',
       '01 sette bello prosecco(20cl)', 'maki (3pc)(bell pepper)',
       '55.pork bulgogi(default)', 'sunrise(passion fruit)',
       '12. belvino pinot grigio rosato(125ml)', 'kagugiri(standard)',
       '40. yaki udon(beef)', '13. whispering hills(175ml)',
       'dynamite(8pc)', '47. squid thop bap(standard)',
       '11 pulpo sauvignon blanc(250ml)',
       '11 pulpo sauvignon blanc(bottle)',
       '08 parini pinot grigio(125ml)', 'veg sushi platter(-)',
       '07 cullinan view chenin blanc(250ml)',
       '30. grilled unagi rice(default)', 'maki (6pc)(avocado)',
       'california(4pc)', '17 alma mora malbec(bottle)',
       '13. whispering hills(bottle)', '24.grilled squid(standard)',
       'temaki (1pc)(tuna)', '15. berri estates shiraz(bottle)',
       '09 short mile bay chardonnay(175ml)', 'maki (6pc)(cucumber)',
       'juice(mango 🥭)', 'juice(orange 🍊)',
       '41.dolsot bimbimbap(vegetable)', 'sprite', 'juice(apple 🍎)',
       'fever tree pink tonic(standard)', 'sunrise(mango)',
       '50.tofu stew(standard)', 'ebi katsu roll(4pc)',
       '23.teriyaki salmon side(standard)',
       '53.dwaeji galbi ribs(default)', 'ginger ale',
       '15. berri estates shiraz(175ml)', 'tea(jasmine green)',
       '40. yaki udon(chicken katsu)', '39.soup ramen(seafood)',
       '17 alma mora malbec(175ml)',
       '10 vine trail gewurztraminer(bottle)', 'gordans pink gin(double)',
       '42.kimchi fried rice(vegetable)',
       'additional charge for sashimi(-)', 'vegetable skewer 杂菜串(-)',
       '07 cullinan view chenin blanc(175ml)', 'rum(single)', 'cocktail',
       '43. bok gum bap(chicken)', 'jack daniels(double)',
       '16. rare vineyards pinot noir(250ml)', 'temaki (1pc)(avocado)',
       '09 short mile bay chardonnay(bottle)',
       '13. whispering hills(125ml)', 'baby guinness',
       '59. grill meat platter(standard)', '22.miso lamb(standard)',
       'duck roll(4pc)', 'for cherry’s “sake”',
       '33. tofu katsu bun(standard)', '40.yaki soba(seafood)',
       'palde rice punch(standard)', '40.yaki soba(chicken katsu curry)',
       '16. rare vineyards pinot noir(175ml)', '40. yaki udon(seafood)',
       '39.soup udon(pork belly)', '14. monte verde merlot(125ml)',
       '16. rare vineyards pinot noir(bottle)',
       '23. lobster tail(standard)', '16.corn cheese(standard)',
       '38.buns platter', 'mojito(passion fruit)', 'half singha(half)',
       '39.soup udon(chicken)', '48.soup udon(grilled ribeye steak)',
       'soju(plum)', 'baileys(single)',
       '02 da luca rosato spumante(standard)', 'california(8pc)',
       '51. kkori gom tang(standard)',
       '7. pinot grigio san vigilio provincia di pavia igt(250ml)',
       '56.chicken bulgogi(default)', 'juice(pineapple 🍍)',
       'ginza roll(4pc)', '17 alma mora malbec(125ml)',
       '11 pulpo sauvignon blanc(175ml)', 'smoked salmon roll(4pc)',
       'spicy chicken katsu(8pc)', '5. sauvignon blanc brisa(175ml)',
       'nigiri (3pc)(asparagus)', '5. sauvignon blanc brisa(bottle)',
       '12. merlot valle central brisa(250ml)',
       '10 vine trail gewurztraminer(175ml)', '48.soup udon(king prawns)',
       '7. pinot grigio san vigilio provincia di pavia igt(bottle)',
       '57.chargrilled squid(standard)',
       '7. pinot grigio san vigilio provincia di pavia igt(175ml)',
       'whiskey(double)', 'long island iced tea', 'ebi katsu roll(8pc)',
       '39.soup udon(chilli beef)', 'tataki(salmon salsa)',
       'seared salmon roll(4pc)', 'espresso martini', 'margarita',
       'singha lager(half)', 'bombay(single)', 'rum(double)',
       'bombay(double)', '43. bok gum bap(vegetable)',
       'soft shell crab 8pc(standard)', 'gunkan 2pc(avocado)',
       'sambuca(single)', '10 vine trail gewurztraminer(250ml)',
       'gunkan 2pc(dynamite)', '09 short mile bay chardonnay(125ml)',
       'rainbow roll(4pc)', 'gunkan 2pc(spicy tuna)',
       '44.gimbap(chicken)', 'navy rum(single)', 'mojito(cherry 🍒)',
       '15. berri estates shiraz(125ml)', 'seared salmon roll(8pc)',
       '13. grilled unagi eel side(standard)', '43. bok gum bap(pork)',
       '60. seafood platter(standard)', 'passoã collins',
       '11 pulpo sauvignon blanc(125ml)', '1. prosecco lunetta(20cl)',
       '11. pinot grigio blush delle venezie igt san vigil(175ml)',
       '44.gimbap(beef)', 'jack daniels(single)',
       'umi zarigani(standard)', 'baileys(double)', 'whiskey(single)',
       'juice(cranberry)', '07 cullinan view chenin blanc(125ml)',
       'salmon sashimi(standard)', 'cosmopolitan(-)',
       '40.yaki soba(vegatable)', 'whisky smash',
       '10 vine trail gewurztraminer(125ml)',
       '16. rare vineyards pinot noir(125ml)', 'salmon avocado(4pc)',
       '39.soup udon(seafood)', 'eel dragon roll(4pc)',
       '12. white zinfandel burlesque(bottle)', 'soju(fresh)',
       'maki (6pc)(bell pepper)', 'duck roll(8pc)', 'sake(white wine)',
       '12. merlot valle central brisa(175ml)', 'mojito(lychee)',
       'smoked salmon roll(8pc)', 'fruit tea(-)', 'amaretto(single)',
       'summer rosé spritz', 'bellini(mango 🥭)',
       '1. prosecco lunetta(bottle)', 'juice(standard)',
       '14. pinot noir pays d’oc igp le fou(250ml)',
       '14. pinot noir pays d’oc igp le fou(bottle)',
       '11. pinot grigio blush delle venezie igt san vigil(250ml)',
       '44.gimbap(pork)', '44.gimbap(vegetable)',
       '05 taittinger prestige brut rose(standard)',
       '04 taittinger brut reserve nv(standard)', 'tea(english)',
       'kimchee fried rice(chicken)', 'nigiri (3pc)(seared salmon)',
       '11. pinot grigio blush delle venezie igt san vigil(bottle)',
       '15. malbec la nina mendoza don cristobal(250ml)',
       'salmon avocado(8pc)',
       '6. chenin blanc slow false bay coastal region(250ml)',
       'tea(peppermint)', '5. sauvignon blanc brisa(125ml)',
       '11. pinot grigio blush delle venezie igt san vigil(125ml)',
       'nigiri (3pc)(inari)', 'ginza roll(8pc)', 'nigiri (3pc)(tamago)',
       '12. white zinfandel burlesque(250ml)',
       '12. merlot valle central brisa(125ml)',
       '15. malbec la nina mendoza don cristobal(bottle)',
       'hendricks(double)',
       '15. malbec la nina mendoza don cristobal(175ml)',
       'mojito(standard)', 'beef bulgogi(standard)',
       '13. shiraz woolloomooloo(250ml)',
       'soft shell crab rolls(standard)',
       'jinro cham yi sul(green grape🍇)',
       '13. shiraz woolloomooloo(175ml)',
       '12. white zinfandel burlesque(175ml)',
       '6. chenin blanc slow false bay coastal region(bottle)',
       'veg sushi platter 20pc(-)', 'rainbow roll(8pc)',
       'liquer coffee(-)', 'nigiri (3pc)(beef)',
       '6. chenin blanc slow false bay coastal region(175ml)',
       '13. shiraz woolloomooloo(bottle)', 'starter break(standard)',
       'chicken katsu maki (4pc)(standard)', '39.soup ramen',
       '40. yaki udon(vegetable)',
       '2. lunetta vino spumante rose brut(20cl)', 'lychee liqueur',
       'bellini(passion fruit)',
       '9. gewurztraminer a.a.c. cave de beblenheim(bottle)',
       '9. gewurztraminer a.a.c. cave de beblenheim(250ml)',
       '7. pinot grigio san vigilio provincia di pavia igt(125ml)',
       'seared salmon nigiri',
       '14. pinot noir pays d’oc igp le fou(175ml)', 'soju(standard)',
       'mooli kimchi(standard)', 'tataki(beef tataki)',
       'dessert(standard)', 'sambuca(double)',
       '8. chardonnay woolloomooloo(125ml)', 'bellini(lychee)',
       'eel dragon roll(8pc)', '8. chardonnay woolloomooloo(250ml)',
       '8. chardonnay woolloomooloo(bottle)', '65d. egg(standard)',
       '2. lunetta vino spumante rose brut(bottle)', 'sunrise',
       'amaretto(double)', 'brandy(double)', 'martell(single)',
       'navy rum(double)', '12. white zinfandel burlesque(125ml)',
       '14. pinot noir pays d’oc igp le fou(125ml)',
       'gunkan (2pc)(avacado)', 'brandy(single)',
       '6. chenin blanc slow false bay coastal region(125ml)',
       'kimchee fried rice(vegetable)',
       'gunkan (2pc)(spicy tuna or spicy salmon)', '42.kimchi fried rice',
       '9. gewurztraminer a.a.c. cave de beblenheim(175ml)',
       '9. gewurztraminer a.a.c. cave de beblenheim(125ml)',
       '15. malbec la nina mendoza don cristobal(125ml)',
       '8. chardonnay woolloomooloo(175ml)',
       'sushi platter (16 pc)(standard)', 'ramune lychee(standard)',
       '13. shiraz woolloomooloo(125ml)',
       '3. taittinger brut reserve nv(standard)', 'hendricks(single)',
       'soju(green grape🍇)', 'kimchee fried rice(seafood)'], dtype=object)

In [24]:
df[df.category.str.lower().str.contains("cocktail")]

,name,category,sold,sales_inc_tax,discount,sales_exc_tax,cost_inc_tax,gross_profit,year
7,cocktail(-),cocktails,3013,20119.23,971.77,20119.23,0.0,20119.23,2021
9,cocktail(-),cocktails,2517,17540.88,78.12,17540.88,0.0,17540.88,2022
22,mocktail(-),cocktails,1530,5795.00,35.25,6084.75,0.0,6084.75,2022
23,cocktail(-),cocktails,1499,10462.16,30.84,10462.16,0.0,10462.16,2023
42,mocktail(-),cocktails,1109,4219.56,23.46,4430.54,0.0,4430.54,2023
50,mocktail(-),cocktails,945,3572.09,29.31,3750.69,0.0,3750.69,2021
63,asia daisy(standard),cocktails,815,5392.84,42.52,5662.48,0.0,5662.48,2022
158,asia daisy(standard),cocktails,469,3143.14,21.70,3300.30,0.0,3300.30,2023
216,asia daisy(standard),cocktails,363,2344.45,79.33,2461.67,0.0,2461.67,2021
278,cocktaill(-),cocktails,293,2329.75,14.25,2329.75,0.0,2329.75,2022
331,plum sour(standard),cocktails,246,1633.67,6.65,1715.35,0.0,1715.35,2022
347,japanese slipper(standard),cocktails,236,1568.55,5.02,1646.98,0.0,1646.98,2022
417,matcha mojito(standard),cocktails,189,1245.33,15.40,1307.60,0.0,1307.60,2022
458,cocktaill(-),cocktails,164,1309.60,2.40,1309.60,0.0,1309.60,2023
528,korean yoghurt soju(standard),cocktails,132,868.45,12.13,911.87,0.0,911.87,2022
554,japanese slipper(standard),cocktails,121,816.38,0.80,857.20,0.0,857.20,2023
558,korean yoghurt soju(standard),cocktails,120,811.19,3.25,851.75,0.0,851.75,2023
577,plum sour(standard),cocktails,115,777.14,0.00,816.00,0.0,816.00,2023
594,matcha mojito(standard),cocktails,108,724.10,0.70,760.30,0.0,760.30,2023
596,matcha mojito(standard),cocktails,107,709.90,3.60,745.40,0.0,745.40,2021
621,plum sour(standard),cocktails,100,655.77,11.44,688.56,0.0,688.56,2021
651,japanese slipper(standard),cocktails,90,591.05,9.40,620.60,0.0,620.60,2021
668,cocktaill(-),cocktails,86,680.90,7.10,680.90,0.0,680.90,2021
796,asia daisy(standard),asian cocktails,55,416.35,2.83,437.17,0.0,437.17,2024
905,cocktail,classic cocktails,37,277.33,4.80,291.20,0.0,291.20,2023
936,for cherry’s “sake”,asian cocktails,33,282.86,0.00,297.00,0.0,297.00,2024
949,korean yoghurt soju(standard),cocktails,32,203.52,10.30,213.70,0.0,213.70,2021
963,mojito(passion fruit),asian cocktails,30,228.57,0.00,240.00,0.0,240.00,2024
972,japanese slipper(standard),asian cocktails,29,220.95,0.00,232.00,0.0,232.00,2024
1002,cocktail,classic cocktails,26,198.10,0.00,208.00,0.0,208.00,2024
1004,plum sour(standard),asian cocktails,25,190.48,0.00,200.00,0.0,200.00,2024
1034,long island iced tea,classic cocktails,23,175.24,0.00,184.00,0.0,184.00,2024
1048,espresso martini,classic cocktails,21,159.24,0.80,167.20,0.0,167.20,2024
1049,margarita,classic cocktails,21,160.00,0.00,168.00,0.0,168.00,2024
1051,korean yoghurt soju(standard),asian cocktails,21,160.00,0.00,168.00,0.0,168.00,2024
1090,mojito(cherry 🍒),asian cocktails,17,129.52,0.00,136.00,0.0,136.00,2024
1100,passoã collins,classic cocktails,16,121.90,0.00,128.00,0.0,128.00,2024
1116,mojito(passion fruit),asian cocktails,14,106.63,0.04,111.96,0.0,111.96,2023
1125,for cherry’s “sake”,asian cocktails,13,111.43,0.00,117.00,0.0,117.00,2023
1141,cosmopolitan(-),classic cocktails,12,91.43,0.00,96.00,0.0,96.00,2024
1151,whisky smash,classic cocktails,11,79.24,4.80,83.20,0.0,83.20,2024
1155,espresso martini,classic cocktails,11,83.81,0.00,88.00,0.0,88.00,2023
1179,mojito(lychee),asian cocktails,10,76.19,0.00,80.00,0.0,80.00,2024
1192,summer rosé spritz,classic cocktails,8,60.95,0.00,64.00,0.0,64.00,2024
1195,bellini(mango 🥭),classic cocktails,8,60.95,0.00,64.00,0.0,64.00,2024
1209,long island iced tea,classic cocktails,8,60.89,0.07,63.93,0.0,63.93,2023
1232,margarita,classic cocktails,7,53.33,0.00,56.00,0.0,56.00,2023
1249,whisky smash,classic cocktails,6,45.71,0.00,48.00,0.0,48.00,2023
1254,mojito(standard),asian cocktails,6,45.71,0.00,48.00,0.0,48.00,2024
1266,mojito(lychee),asian cocktails,5,38.10,0.00,40.00,0.0,40.00,2023
1293,bellini(passion fruit),classic cocktails,4,30.48,0.00,32.00,0.0,32.00,2024
1316,passoã collins,classic cocktails,3,22.86,0.00,24.00,0.0,24.00,2023
1318,bellini(mango 🥭),classic cocktails,3,22.86,0.00,24.00,0.0,24.00,2023
1319,bellini(passion fruit),classic cocktails,3,22.86,0.00,24.00,0.0,24.00,2023
1326,bellini(lychee),classic cocktails,3,21.71,1.20,22.80,0.0,22.80,2024
1376,mojito(cherry 🍒),asian cocktails,1,7.62,0.00,8.00,0.0,8.00,2023

Extracting `variant` from the products. Fortunately, variant is easily found. 

Each name is in the form `product name(variant)`

In [25]:
product = df.name.str.extract("(?P<name>.+)\((?P<variant>.+)\)")
product.tail()

                                    name       variant
1391                                soju  green grape🍇
1392  2. lunetta vino spumante rose brut        bottle
1393                  kimchee fried rice       seafood
1394                        jack daniels        double
1395                        nigiri (3pc)          beef

Some names still have `(...)` in their names but this is fine as they are part of the name itself and not a variant of the product.

We can see below that it's all `(#pc)`.

NOTE: some product also do not have their variants encoded in their original names as they don't have any variants. This lead to their name and variant value being NaN when performing pandas.extract

In [26]:
product[product.name.str.contains("\(.+\)", regex=True).fillna(False)]

                               name                     variant
29                  59. mandu (5pc)                    standard
36                  59. mandu (5pc)                    standard
43                  59. mandu (5pc)                    standard
49    61. fried chicken wings (4pc)                    standard
53    61. fried chicken wings (4pc)                    standard
...                             ...                         ...
1360                   gunkan (2pc)                     avacado
1365                   gunkan (2pc)  spicy tuna or spicy salmon
1374          sushi platter (16 pc)                    standard
1380                   nigiri (3pc)                      tamago
1395                   nigiri (3pc)                        beef

[134 rows x 2 columns]

Populate `name` and `variant` using the extracted values

Make sure to only populate `name` with non-null values

In [27]:
df["variant"] = product.variant
df.loc[product[product.name.notna()].index, "name"] = product[product.name.notna()].name
df[["name", "variant"]].head(20)

                       name   variant
0                     asahi      pint
1                     asahi      pint
2                     asahi      pint
3                      coke  standard
4                      coke  standard
5                 diet coke  standard
6                 diet coke  standard
7                  cocktail         -
8              chilli fries  standard
9                  cocktail         -
10             chilli fries  standard
11  29. chicken katsu curry  standard
12                     coke  standard
13  29. chicken katsu curry  standard
14                tap water     glass
15                diet coke  standard
16          lunch/early set       NaN
17           egg fried rice         -
18  29. chicken katsu curry  standard
19                   peroni      pint

### Unifying Names and Categories

The most time consuming by far in this dataset is the correction of product names and categories.
It will require some manual work but I will try to do majority of the work with pandas.

My main strategy is going to use a technique called [approximate string matching](https://en.wikipedia.org/wiki/Approximate_string_matching) also called as fuzzy string matching to find names that are similar.

In [30]:
df.category.unique()

array(['draught beer', 'soft drinks', 'cocktails', 'sides',
       'donburi 29-39', 'donburi 29-38', 'set menu', 'custom',
       'traditional 1-15', 'korean starter 53-61', 'buns 24-28',
       'traditional 1-14', 'rice dishes 70-74', 'bbq (korean) 75 - 84',
       'buns 25-26', 'sushi', 'sushi rolls (4pc)', 'korean sides 49-52',
       'lunch bento', 'korean soft drinks', 'noodles 47-48',
       'korean nood 62-65', 'soup 66-69', 'tea / coffee',
       'korean nood 62-64', 'robata grill 16-24', 'robata grill 15-23',
       'bottled beer & cider', 'japan rice dis 25-32', 'vegan',
       'sides extras', 'white wine', 'special mains 39-46',
       'platters 45-46', 'dessert', 'korean soju', 'platters 27-28',
       'spirits', 'sushi platters', 'buns 33-38', 'korean side 14-24',
       'rose wine', 'japanese side 1-13', 'ramen & noodle 39-40',
       'champagne', 'korean dishes 41-51', 'red wine', 'grill bbq 52-60',
       'korean set menu', 'sushi rolls 4pc/8pc', 'mocktails',
       'restaurant special', 'asian cocktails', 'restaurant specials',
       'classic cocktails', 'spirits & shots', 'bbq platters 59-60',
       'new items', 'starter break line', 'seared salmon nigiri',
       'extras'], dtype=object)

In [28]:
df.name.unique()

array(['asahi', 'coke', 'diet coke', 'cocktail', 'chilli fries',
       '29. chicken katsu curry', 'tap water', 'lunch/early set',
       'egg fried rice', 'peroni', 'box', 'mocktail', 'lemonade',
       'steamed rice', '02. prawn tempura', '59. mandu (5pc)',
       '27.crispy duck bun', '01. spicy squid', 'soju',
       '34. salmon teriaki', '06. duck harumaki', '33. chicken teriyaki',
       '39. beef teriyaki', '08. chicken karaagi',
       '61. fried chicken wings (4pc)', '70. dolsot bimbimbap',
       '34. beef teriyaki', '77. beef bulgogi', 'stella',
       '25. chicken teriyaki', '11. takoyaki', 'asia daisy',
       '05. chicken harumaki', 'sweet potato fries',
       'chicken katsu  curry 日式咖喱鸡', 'maki (3pc)', '77. bulgogi',
       'dynamite', 'camden pale ale', '24. chicken katsu bun',
       '50. kimchi', 'bento mandu dumplings(4pc)', 'spicy chicken katsu',
       '26. beef teriyaki', 'california', 'hai tai bong bong grape juice',
       '47. yaki soba', '63. kimchi ramen', 'chicken teriyaki 红烧鸡肉',
       'fanta', '08. spicy minced beef tacos', '57. topokki', 'edamame',
       'nigiri (3pc)', '04. soft shell crab tempura',
       '03. vegetable tempura', 'bento korean fried wings', '75. rib eye',
       'j2o', '38. chili prawn firecracker rice', '64. spicy lamb noodle',
       '12. wasabi prawns', '48. soup ramen', '71. kimchi fried rice',
       '66. yuk gae jang', '32. beef curry', 'miso soup', 'green tea',
       'aloe vera', 'prawn tempura', 'pork bulgogi 猪肉片饭',
       '30. prawn katsu curry', '62. ja jang myun',
       'still / sparkling water', '16. chilli beef', '80. pork belly',
       '53. seafood pancake', 'dash cordial', '73. squid thop bap',
       'koppaberg', 'soda water', 'sashimi (4pc)', 'apple juice',
       '54. kimchi pancake', '38. fish karaage', '17. teriyaki chicken',
       '55. bossam pork belly', '25.chicken katsu curry',
       '60. kan pun ki (6pc)', '28. buns platter', '20. teriyaki salmon',
       '47. yaki udon', 'tofu curry', 'bento vegetable tempura',
       '49. kimchi set', 'tiger', 'kagugiri (sushi rolls 4pc)',
       '78. pork bulgogi', '15. pan fried scallops',
       'bento chicken katsu sushi(4pc)', '67. kimchi stew',
       '31. tonkatsu curry', 'bento chicken harumaki(4pc)',
       '14. pan fried scallops', '06 monte verde sauvignon blanc',
       '41. salmon teriyaki', '55. beef jap chae', '35. grilled unagi',
       'orange juice', 'pineapple juice', 'salmon teriyaki 照烧三文鱼',
       'lucky buddha', '45. grill meat platter', '6. salmon tartar',
       '79. chicken bulgogi', 'cocktaill', '51. cucumber kimchi',
       '68. tofu stew', 'cornish orchard cider', '18. pork yakitori',
       '65. spicy mixed seafood noodles han', 'fudge cake', 'spicy tuna',
       '84. lettuce, garlic & chilli', 'jinro cham yi sul (fresh)',
       'duck sushi roll', '19. miso lamb', '09. tuna tacos', 'cheesecake',
       '15. grill wings', '22. king prawn', '27. japanese grill platter',
       '37.salmon & tobiko eggfried rice', '37.katsudon pork', 'tea',
       '08 parini pinot grigio', 'soft shell crab',
       '07. tebaski chicken wings', 'plum sour', 'tequila',
       '21. grilled squid', 'singha lager', 'veg okonomiyaki',
       '10. agedashi tofu', 'tofu katsu small plate', 'japanese slipper',
       '14. chicken katsu', 'fever tree tonic', 'temaki (1pc)',
       '72. bok gum bap', 'salmon avocado', '76. dwaeji galbi ribs',
       'sushi platter (30pc)', 'tsing tao', '40. chilli beef',
       '37.crispy duck bun', '69. kkori gom tang', 'seared salmon roll',
       '74. gimbap', 'nigiri platter (12pc)', 'cocumber kimchi',
       'pumpkin curry', '22. teriyaki beef', 'small sake', 'dorayaki',
       'matcha mojito', '18.mandu (5pc)', '56. corn cheese',
       'aubergine donburi', 'americano', 'corona',
       '31.beef teriyaki rice', '12. belvino pinot grigio rosato',
       'becks blue', '36. salmon sashimi & tobiko',
       '13. grilled unagi eel', '42. pan seared duck breast',
       '29.salmon teriaki rice', 'miso aubergine small plate',
       'kirin ichi ban', '39.soup ramen', 'ginza roll', '76. la gar bi',
       'prawn cracker', '09. seafood okonomiyaki', '28.chicken teriyaki',
       '46. seafood platter', 'smoked salmon roll', 'gordans', 'latte',
       'sake', '28. seafood platter', '48.soup udon',
       '81. king prawns (5pc)', '03 da luca prosecco',
       'korean yoghurt soju', 'ice cream', 'fever tree slimline tonic',
       '41.dolsot bimbimbap', '19.fried chicken wings (4pc)',
       'cappuccino', 'kimchi', '83. chargrilled squid',
       '14. monte verde merlot', '39. miso lamb (4pc)', '40.yaki soba',
       'mochi', '23. mixed vegetable', '52. mooli kimchi', 'maki (6pc)',
       '54.beef bulgogi', '24. mixed vegetable',
       'pumpkin katsu small plate', '45. pan seared seabass',
       '60. dubu jorim', 'calpis', '46.spicy lamb noodle',
       '46. chargrilled rib eye steak', 'korean set menu',
       '20.chilli beef', '58. tofu kimchi', '40. yaki udon', 'smirnoff',
       'espresso', '43. rare tuna', '42.kimchi fried rice',
       'gordans pink gin', '82. ox tongue',
       '32.chili prawn firecracker rice', '45.kimchi ramen',
       '34.chicken katsu bun', '26. prawn katsu curry',
       '15.kimchi pancake', 'coke zero', '52.rib eye',
       'jinro cham yi sul (green grapes)', '13. whispering hills',
       '36. beef teriyaki bun', '01 sette bello prosecco', 'wakame salad',
       '27.beef curry', '17. topokki', '35.chicken teriyaki bun',
       '09 short mile bay chardonnay', '15. berri estates shiraz',
       '44. pan fried cod fillet', '14.seafood pancake',
       '21. teriyaki chicken side', '48.yuk gae jang', 'dips',
       'magical lagoon', 'restaurant special set', '49.kimchi stew',
       '5. sauvignon blanc brisa', 'shirley temple',
       '17 alma mora malbec', '07. tuna tartar',
       '58.lettuce, garlic & chilli', 'salmon sashimi (4pc)',
       '07 cullinan view chenin blanc', '55.pork bulgogi', 'sunrise',
       'kagugiri', '47. squid thop bap', '11 pulpo sauvignon blanc',
       'veg sushi platter', '30. grilled unagi rice', '24.grilled squid',
       'juice', 'sprite', 'fever tree pink tonic', '50.tofu stew',
       'ebi katsu roll', '23.teriyaki salmon side',
       '53.dwaeji galbi ribs', 'ginger ale',
       '10 vine trail gewurztraminer', 'additional charge for sashimi',
       'vegetable skewer 杂菜串', 'rum', '43. bok gum bap', 'jack daniels',
       '16. rare vineyards pinot noir', 'baby guinness',
       '59. grill meat platter', '22.miso lamb', 'duck roll',
       'for cherry’s “sake”', '33. tofu katsu bun', 'palde rice punch',
       '39.soup udon', '23. lobster tail', '16.corn cheese',
       '38.buns platter', 'mojito', 'half singha', 'baileys',
       '02 da luca rosato spumante', '51. kkori gom tang',
       '7. pinot grigio san vigilio provincia di pavia igt',
       '56.chicken bulgogi', '12. merlot valle central brisa',
       '57.chargrilled squid', 'whiskey', 'long island iced tea',
       'tataki', 'espresso martini', 'margarita', 'bombay',
       'soft shell crab 8pc', 'gunkan 2pc', 'sambuca', 'rainbow roll',
       '44.gimbap', 'navy rum', '13. grilled unagi eel side',
       '60. seafood platter', 'passoã collins', '1. prosecco lunetta',
       '11. pinot grigio blush delle venezie igt san vigil',
       'umi zarigani', 'salmon sashimi', 'cosmopolitan', 'whisky smash',
       'eel dragon roll', '12. white zinfandel burlesque', 'fruit tea',
       'amaretto', 'summer rosé spritz', 'bellini',
       '14. pinot noir pays d’oc igp le fou',
       '05 taittinger prestige brut rose',
       '04 taittinger brut reserve nv', 'kimchee fried rice',
       '15. malbec la nina mendoza don cristobal',
       '6. chenin blanc slow false bay coastal region', 'hendricks',
       'beef bulgogi', '13. shiraz woolloomooloo',
       'soft shell crab rolls', 'jinro cham yi sul',
       'veg sushi platter 20pc', 'liquer coffee', 'starter break',
       'chicken katsu maki (4pc)', '2. lunetta vino spumante rose brut',
       'lychee liqueur', '9. gewurztraminer a.a.c. cave de beblenheim',
       'seared salmon nigiri', 'mooli kimchi', 'dessert',
       '8. chardonnay woolloomooloo', '65d. egg', 'brandy', 'martell',
       'gunkan (2pc)', 'sushi platter (16 pc)', 'ramune lychee',
       '3. taittinger brut reserve nv'], dtype=object)

In [33]:
from thefuzz import fuzz, process

Remove numbers and noise from name

In [56]:
for col in ["name", "category"]:
    df[col] = df[col].str.replace("\(.+\)", "", regex=True)
    df[col] = df[col].str.replace("^(\d{1,2}\.?)\s*", "", regex=True)

df.tail()

,name,category,sold,sales_inc_tax,discount,sales_exc_tax,cost_inc_tax,gross_profit,year,variant
1391,soju,korean soju,1,9.52,0.00,10.00,0.0,10.00,2024,green grape🍇
1392,lunetta vino spumante rose brut,champagne,1,18.10,0.00,19.00,0.0,19.00,2024,bottle
1393,kimchee fried rice,new items,1,7.58,1.99,7.96,0.0,7.96,2023,seafood
1394,jack daniels,spirits & shots,1,5.24,0.00,5.50,0.0,5.50,2024,double
1395,nigiri,sushi,1,4.76,0.00,5.00,0.0,5.00,2021,beef

In [60]:
df.category.unique()

array(['draught beer', 'soft drinks', 'cocktails', 'sides',
       'donburi 29-39', 'donburi 29-38', 'set menu', 'custom',
       'traditional 1-15', 'korean starter 53-61', 'buns 24-28',
       'traditional 1-14', 'rice dishes 70-74', 'bbq  75 - 84',
       'buns 25-26', 'sushi', 'sushi rolls ', 'korean sides 49-52',
       'lunch bento', 'korean soft drinks', 'noodles 47-48',
       'korean nood 62-65', 'soup 66-69', 'tea / coffee',
       'korean nood 62-64', 'robata grill 16-24', 'robata grill 15-23',
       'bottled beer & cider', 'japan rice dis 25-32', 'vegan',
       'sides extras', 'white wine', 'special mains 39-46',
       'platters 45-46', 'dessert', 'korean soju', 'platters 27-28',
       'spirits', 'sushi platters', 'buns 33-38', 'korean side 14-24',
       'rose wine', 'japanese side 1-13', 'ramen & noodle 39-40',
       'champagne', 'korean dishes 41-51', 'red wine', 'grill bbq 52-60',
       'korean set menu', 'sushi rolls 4pc/8pc', 'mocktails',
       'restaurant special', 'asian cocktails', 'restaurant specials',
       'classic cocktails', 'spirits & shots', 'bbq platters 59-60',
       'new items', 'starter break line', 'seared salmon nigiri',
       'extras'], dtype=object)

Remove numbers from category

In [66]:
df.category = df.category.str.replace("\d{1,2}\s?\-\s?\d{1,2}", "", regex=True)
df.category.unique()

array(['draught beer', 'soft drinks', 'cocktails', 'sides', 'donburi ',
       'set menu', 'custom', 'traditional ', 'korean starter ', 'buns ',
       'rice dishes ', 'bbq  ', 'sushi', 'sushi rolls ', 'korean sides ',
       'lunch bento', 'korean soft drinks', 'noodles ', 'korean nood ',
       'soup ', 'tea / coffee', 'robata grill ', 'bottled beer & cider',
       'japan rice dis ', 'vegan', 'sides extras', 'white wine',
       'special mains ', 'platters ', 'dessert', 'korean soju', 'spirits',
       'sushi platters', 'korean side ', 'rose wine', 'japanese side ',
       'ramen & noodle ', 'champagne', 'korean dishes ', 'red wine',
       'grill bbq ', 'korean set menu', 'sushi rolls 4pc/8pc',
       'mocktails', 'restaurant special', 'asian cocktails',
       'restaurant specials', 'classic cocktails', 'spirits & shots',
       'bbq platters ', 'new items', 'starter break line',
       'seared salmon nigiri', 'extras'], dtype=object)

In [ ]:
categories = [
    "traditional",
    "starters",
    "sides",
    "donburi",
    ""
]

In [71]:
pd.DataFrame(process.extract("sushi roll", df.category, limit=100))#[0].unique()

                      0   1    2
0          sushi rolls   95   73
1          sushi rolls   95   81
2          sushi rolls   95   83
3          sushi rolls   95  120
4          sushi rolls   95  123
..                  ...  ..  ...
95                sushi  90  842
96                sushi  90  851
97                sushi  90  861
98                sushi  90  862
99  sushi rolls 4pc/8pc  90  877

[100 rows x 3 columns]

In [29]:
# df.to_csv("product_reports_cleaned_2021-2024.csv", index=False)